# Testing performance of queries

In [36]:
import mysql.connector
import numpy as np
import pandas as pd
import time

client = mysql.connector.connect(user='admin', password='admin', host='localhost', port=3306, database='mysql')
mycursor = client.cursor()

x = 10
times = []

In [37]:
def sql_query_result(query,query_name):
    mycursor.execute(query)
    myresult1 = mycursor.fetchall()
    for r in myresult1:
        print(r)
    print("Length of the result for",query_name, ": ", myresult1.__len__())

In [38]:
def sql_query_explain(query):
    explain_query = f"EXPLAIN {query}"
    mycursor.execute(explain_query)
    explanation_result = mycursor.fetchall()
    for row in explanation_result:
        print(row)

In [39]:
def sql_query_avg_time(query,num, query_name):
    times = []
    for i in range(num):
        time_i = time.time()
        mycursor.execute(query)
        myresult1 = mycursor.fetchall()
        time_f = time.time()
        times.append(time_f-time_i)
        
    avgtime = sum(times)/x
    print('No optimization:  avg total time SQL-Query',query_name ,' = ', avgtime)

## Query 3a - 1

Esta consulta calcula o salário máximo médio para cada empresa e, em seguida, ordena os resultados por ordem decrescente do salário máximo médio.

In [40]:
query1 = ("SELECT salary_id, AVG(max_salary) AS avg_max_salary "
          "FROM salaries GROUP BY salary_id ORDER BY avg_max_salary DESC")

#### Result:

In [41]:
sql_query_result(query1,"3a-1")

(4514, 500000.0)
(6612, 450000.0)
(7163, 400000.0)
(4537, 345000.0)
(7174, 271200.0)
(4536, 264000.0)
(1425, 250000.0)
(4549, 250000.0)
(1438, 243300.0)
(1440, 243300.0)
(1416, 234563.0)
(7137, 220000.0)
(7165, 220000.0)
(6628, 218500.0)
(4554, 215000.0)
(6655, 210000.0)
(6643, 205500.0)
(6625, 200000.0)
(7162, 194400.0)
(6654, 191000.0)
(4531, 190000.0)
(4516, 185300.0)
(4545, 185300.0)
(4597, 185300.0)
(4598, 185300.0)
(4599, 185300.0)
(1397, 175200.0)
(1422, 175125.0)
(4520, 170443.40625)
(6657, 165000.0)
(1419, 162250.0)
(1420, 162250.0)
(1421, 162250.0)
(7127, 160000.0)
(4517, 157500.0)
(4526, 157500.0)
(4527, 157500.0)
(4547, 157500.0)
(4566, 157500.0)
(4567, 157500.0)
(4568, 157500.0)
(4600, 157500.0)
(4601, 157500.0)
(4602, 157500.0)
(4603, 157500.0)
(4604, 157500.0)
(7147, 155000.0)
(6623, 151800.0)
(1426, 150000.0)
(7126, 150000.0)
(7141, 145000.0)
(4575, 144811.0)
(7130, 140000.0)
(6645, 139800.0)
(6646, 139000.0)
(4570, 135000.0)
(4504, 133120.0)
(4546, 132800.0)
(4565, 132800.0)
(1439, 130400.0)
(4569, 130000.0)
(4573, 130000.0)
(6637, 130000.0)
(7133, 130000.0)
(7134, 130000.0)
(6650, 129089.0)
(4582, 126400.0)
(4557, 125000.0)
(4523, 124409.609375)
(4501, 122951.34375)
(6658, 122500.0)
(1415, 120000.0)
(1427, 120000.0)
(7129, 120000.0)
(7132, 120000.0)
(6627, 118000.0)
(4550, 117000.0)
(1432, 115000.0)
(7128, 110000.0)
(7157, 110000.0)
(4560, 108191.203125)
(6613, 105200.0)
(4591, 101764.0)
(1408, 100000.0)
(7124, 100000.0)
(6626, 95000.0)
(7170, 95000.0)
(6642, 92000.0)
(4521, 91052.0)
(6640, 90000.0)
(4577, 85300.0)
(1406, 85000.0)
(4505, 85000.0)
(4524, 85000.0)
(1393, 80000.0)
(4581, 80000.0)
(7131, 80000.0)
(7159, 75000.0)
(4511, 73912.796875)
(6635, 70865.0)
(7125, 70000.0)
(1391, 66000.0)
(1404, 66000.0)
(1434, 65000.0)
(4558, 65000.0)
(4576, 65000.0)
(1412, 62500.0)
(7166, 62500.0)
(1394, 60000.0)
(1396, 60000.0)
(1398, 60000.0)
(1399, 60000.0)
(1401, 60000.0)
(1403, 60000.0)
(4555, 60000.0)
(4572, 58500.0)
(4528, 55000.0)
(4529, 55000.0)
(4571, 53000.0)
(4562, 50000.0)
(7123, 50000.0)
(4561, 49968.76953125)
(7146, 48000.0)
(4509, 46359.23046875)
(4594, 45000.0)
(1402, 14954.0)
(7154, 9945.0)
(6647, 90.0)
(4583, 83.0)
(6660, 77.0)
(1436, 73.0)
(4588, 71.25)
(1435, 63.0)
(1407, 59.0)
(4589, 56.349998474121094)
(1430, 56.0)
(1390, 54.63999938964844)
(1405, 53.61000061035156)
(1392, 51.88999938964844)
(4578, 50.0)
(6617, 48.0)
(6616, 46.2599983215332)
(4512, 46.0)
(4513, 46.0)
(4539, 46.0)
(4540, 46.0)
(4564, 46.0)
(4519, 45.0)
(4522, 44.77000045776367)
(4502, 44.54999923706055)
(7156, 43.790000915527344)
(1414, 40.0)
(1429, 39.58000183105469)
(4530, 38.0)
(4556, 38.0)
(6632, 36.56999969482422)
(6629, 36.29999923706055)
(6624, 36.060001373291016)
(6652, 35.0)
(7161, 35.0)
(1418, 33.880001068115234)
(1411, 33.0)
(7145, 33.0)
(6651, 32.0)
(1424, 31.0)
(6610, 30.540000915527344)
(6659, 30.540000915527344)
(1428, 30.0)
(4548, 30.0)
(4551, 30.0)
(7149, 29.520000457763672)
(6619, 28.799999237060547)
(4532, 28.0)
(6639, 28.0)
(7171, 27.690000534057617)
(6633, 27.670000076293945)
(1395, 27.0)
(1423, 27.0)
(1413, 26.899999618530273)
(4503, 25.6299991607666)
(4538, 25.6299991607666)
(4590, 25.6299991607666)
(1437, 25.600000381469727)
(6638, 25.43000030517578)
(4574, 25.0)
(7151, 24.309999465942383)
(4552, 24.0)
(6648, 24.0)
(7138, 23.719999313354492)
(7140, 23.719999313354492)
(6636, 23.6299991607666)
(7142, 23.290000915527344)
(6611, 23.25)
(6615, 23.0)
(6631, 22.559999465942383)
(7172, 22.5)
(6618, 22.100000381469727)
(1431, 22.0)
(7139, 21.719999313354492)
(1417, 21.639999389648438)
(4595, 21.5)
(6644, 21.0)
(1410, 20.459999084472656)
(1400, 20.0)
(4553, 19.0)
(6621, 19.0)
(6614, 18.5)
(6656, 18.5)
(7164, 16.8799991607666)
(4525, 16.5)
(4533, 16.5)
(4543, 16.5)
(4584, 16.5)
(4596, 16.5)
(4507, 12.0)
(4535, 12.0)
(7136, 11.5)
(1409, 0.0)
(1433, 0.0)
(4506, 0.0)
(4508, 0.0)
(4510, 0.0)
(4515, 0.0)
(4518, 0.0)
(4534, 0.0)
(4541, 0.0)
(4542, 0.0)
(4544, 0.0)
(4559, 0.0)
(4563, 0.0)
(4579, 0.0)
(4580, 0.0)
(4585, 0.0)
(4586, 0.0)
(4587, 0.0)
(4592, 0.0)
(4593, 0.0)
(6609, 0.0)
(6620, 0.0)
(6622, 0.0)
(6630, 0.0)
(6634, 0.0)
(6641, 0.0)
(6649, 0.0)
(6653, 0.0)
(7135, 0.0)
(7143, 0.0)
(7144, 0.0)
(7148, 0.0)
(7150, 0.0)
(7152, 0.0)
(7153, 0.0)
(7155, 0.0)
(7158, 0.0)
(7160, 0.0)
(7167, 0.0)
(7168, 0.0)
(7169, 0.0)
(7173, 0.0)
Length of the result for 3a-1 :  259

#### Explained query

In [42]:
sql_query_explain(query1)

(1, 'SIMPLE', 'salaries', None, 'index', 'PRIMARY,job_id', 'PRIMARY', '8', None, 259, 100.0, 'Using temporary; Using filesort')

#### Average time

In [43]:
sql_query_avg_time(query1,x,"3a-1")

No optimization:  avg total time SQL-Query 3a-1  =  0.003800702095031738

## Query 3a - 2

Esta consulta utiliza uma expressão de tabela comum e a função de janela ROW_NUMBER() para classificar as empresas com base no número de ofertas de emprego em cada localização. O resultado final inclui apenas as empresas com o maior número de ofertas de emprego em cada local.

In [44]:
query2 = ("WITH ranked_postings AS ("
                     "SELECT company_id, location, ROW_NUMBER() OVER (PARTITION BY location ORDER BY COUNT(*) DESC) AS posting_rank "
                     "FROM job_postings GROUP BY company_id, location)"
                     "SELECT company_id, location FROM ranked_postings WHERE posting_rank = 1;")

#### Result:

In [45]:
sql_query_result(query2,"3a-2")

(28615633, 'Aberdeen Proving Ground, MD')
(1013110, 'Aberdeen, MD')
(3706049, 'Aberdeen, WA')
(17226, 'Abilene, TX')
(2700167, 'Abingdon, VA')
(3625, 'Abo, MO')
(115116, 'Acampo, CA')
(25567, 'Acton, MA')
(3570660, 'Ada, MI')
(7064, 'Ada, OK')
(1482552, 'Addison, IL')
(77301, 'Addison, TX')
(27180004, 'Adrian, MI')
(581824, 'Agoura Hills, CA')
(1386950, 'Aiken, SC')
(23182, 'Akron, OH')
(5323150, 'Alabama, United States')
(18506580, 'Alabaster, AL')
(98488356, 'Alachua, FL')
(8437, 'Alamance, NC')
(18924711, 'Alameda County, CA')
(808034, 'Alameda, CA')
(15472, 'Alamo Heights, TX')
(2646, 'Alamosa, CO')
(3558, 'Albany, GA')
(28409, 'Albany, New York Metropolitan Area')
(1302410, 'Albany, NY')
(14542824, 'Albany, OR')
(18009221, 'Albemarle, NC')
(2943678, 'Albuquerque-Santa Fe Metropolitan Area')
(1945473, 'Albuquerque, NM')
(5755, 'Alburtis, PA')
(10854676, 'Alden, NY')
(82153, 'Aledo, TX')
(13309, 'Alexandria City County, VA')
(6062532, 'Alexandria, LA')
(1403, 'Alexandria, VA')
(77301, 'Algonquin, IL')
(25081, 'Alhambra, CA')
(113097, 'Alice, TX')
(9814, 'Aliso Viejo, CA')
(121618, 'All Seasons Lake Park, OH')
(165447, 'Allegan, MI')
(2251, 'Allen, TX')
(71904349, 'Allendale, NJ')
(78114, 'Allentown, PA')
(20009, 'Allenwood, PA')
(6592, 'Alliance, OH')
(10640818, 'Alma, MI')
(3706049, 'Alpena, MI')
(1103, 'Alpharetta, GA')
(11758, 'Alsip, IL')
(4453, 'Altoona, IA')
(1703, 'Altoona, PA')
(3706049, 'Alturas, CA')
(53252, 'Alvin, TX')
(315817, 'Amarillo, TX')
(11824180, 'Ambler, PA')
(3963605, 'American Fork, UT')
(683310, 'Ames, IA')
(16995, 'Amesbury, MA')
(46000, 'Amherst, NH')
(28923, 'Amherst, NY')
(86041588, 'Amityville, NY')
(12890, 'Ammon, ID')
(6913, 'Amsterdam, NY')
(13856, 'Anacortes, WA')
(3570660, 'Anaheim, CA')
(26923, 'Anchorage, AK')
(3469, 'Anderson, SC')
(15451728, 'Andover, KS')
(53452, 'Andover, MA')
(3476, 'Andrews, SC')
(19368, 'Angels Camp, CA')
(2562, 'Angleton, TX')
(1526, 'Ankeny, IA')
(78636, 'Ann Arbor, MI')
(1403, 'Annapolis Junction, MD')
(18062, 'Annapolis, MD')
(68941, 'Anniston, AL')
(74994575, 'Anoka, MN')
(2193256, 'Antigo, WI')
(2910116, 'Antioch, IL')
(2252, 'Antioch, TN')
(82808548, 'Anton Chico, NM')
(690568, 'Apache Junction, AZ')
(4324, 'Apex, NC')
(14832, 'Apollo Beach, FL')
(74161427, 'Apopka, FL')
(2646, 'Apple Valley, CA')
(96180361, 'Apple Valley, MN')
(6233, 'Appleton, WI')
(4297, 'Appomattox, VA')
(4111455, 'Arabi, LA')
(1668, 'Arcata, CA')
(55185007, 'Arden Hills, MN')
(18860134, 'Arden, NC')
(869141, 'Arizona, United States')
(1464, 'Arkadelphia, AR')
(162724, 'Arkansas, United States')
(598372, 'Arlington Heights, IL')
(1103, 'Arlington, MA')
(166680, 'Arlington, TX')
(1403, 'Arlington, VA')
(372915, 'Armonk, NY')
(15473, 'Arnold, MO')
(43093, 'Artesia, MS')
(373399, 'Arvada, CO')
(1103, 'Ashburn, VA')
(28169, 'Asheville, NC')
(3570660, 'Ashland, MA')
(70696, 'Ashland, MT')
(4798, 'Ashland, VA')
(2646, 'Ashland, WI')
(33190802, 'Aspen, CO')
(35561284, 'Atascadero, CA')
(162828, 'Atchison, KS')
(7587370, 'Athens, GA')
(26205, 'Athens, OH')
(1945473, 'Athens, TX')
(1374999, 'Athol, ID')
(163139, 'Atlanta Metropolitan Area')
(3558, 'Atlanta, GA')
(64746547, 'Atlantis, FL')
(164200, 'Attleboro, MA')
(1236687, 'Atwater, CA')
(68796640, 'Auburn Hills, MI')
(5343, 'Auburn, AL')
(11056, 'Auburn, CA')
(31065, 'Auburn, GA')
(20573, 'Auburn, MA')
(2562, 'Auburn, MI')
(1945473, 'Auburn, NY')
(71575605, 'Auburn, WA')
(11440, 'Audubon, PA')
(37235, 'Augusta, GA')
(2137, 'Augusta, ME')
(3672, 'Aurora, CO')
(2736008, 'Aurora, Colorado, United States')
(35504, 'Aurora, IL')
(10147, 'Aurora, OH')
(46000, 'Austell, GA')
(164249, 'Austin Township, MN')
(11618, 'Austin, MN')
(163139, 'Austin, Texas Metropolitan Area')
(3162, 'Austin, TX')
(25963, 'Avenel, NJ')
(283807, 'Aventura, FL')
(66278935, 'Avon Lake, OH')
(1103, 'Avon, MA')
(79892817, 'Avon, MN')
(85320, 'Avon, NY')
(3570660, 'Avon, OH')
(596893, 'Avondale, AZ')
(162828, 'Avondale, LA')
(828170, 'Ayer, MA')
(2701866, 'Bagdad, AZ')
(14542824, 'Baker, MT')
(1945473, 'Baker, WV')
(12820, 'Bakersfield, CA')
(89989306, 'Bal Harbour, FL')
(65549321, 'Bala-Cynwyd, PA')
(2721914, 'Baldwin City, KS')
(18506580, 'Baldwin Park, CA')
(22309011, 'Ballwin, MO')
(5127650, 'Baltimore County, MD')
(1945473, 'Baltimore, MD')
(18312164, 'Baltimore, OH')
(1945473, 'Bangor, ME')
(41004, 'Banner Elk, NC')
(13353, 'Baraboo, WI')
(788707, 'Barberton, OH')
(18758749, 'Bardstown, KY')
(32380, 'Bargersville, IN')
(16726, 'Barstow, CA')
(10420321, 'Bartlesville, OK')
(598372, 'Bartlett, IL')
(16101273, 'Bartlett, TN')
(1235, 'Bartonville, TX')
(906762, 'Bartow, FL')
(1103, 'Basking Ridge, NJ')
(166572, 'Bastrop, TX')
(23656, 'Batavia, IL')
(1511, 'Batavia, NY')
(39249, 'Batavia, OH')
(66252, 'Batesville, IN')
(142560, 'Baton Rouge Metropolitan Area')
(7587370, 'Baton Rouge, LA')
(2381, 'Battle Creek, MI')
(2646, 'Baxter, MN')
(3180238, 'Bay City, MI')
(9487, 'Bay Minette, AL')
(19287, 'Bay St Louis, MS')
(10517709, 'Bayport, NY')
(48024, 'Baytown, TX')
(203053, 'Bear, DE')
(96180361, 'Beaufort, SC')
(48024, 'Beaumont, TX')
(11009726, 'Beaver Dam, WI')
(15208770, 'Beaver, PA')
(28974109, 'Beavercreek, OH')
(79383535, 'Beaverton, OR')
(14088, 'Beckett Ridge, OH')
(90198358, 'Beckley, WV')
(3579761, 'Bedford Park, IL')
(2268831, 'Bedford, MA')
(3706049, 'Bedford, PA')
(96180361, 'Bedford, TX')
(30823, 'Bedminster, NJ')
(10769, 'Beeville, TX')
(13181, 'Bel Air, MD')
(1769216, 'Belcamp, MD')
(8710, 'Belfast, ME')
(75621179, 'Bellaire, TX')
(22309011, 'Belleville, IL')
(6592, 'Bellevue, OH')
(37768, 'Bellevue, WA')
(7032, 'Bellflower, CA')
(165422, 'Bellingham, WA')
(18472079, 'Bellmawr, NJ')
(1160236, 'Bellows Falls, VT')
(15941879, 'Belmar, NJ')
(1273631, 'Belmont, CA')
(3570660, 'Belmont, MA')
(10420321, 'Beloit, WI')
(16157996, 'Belton, MO')
(570101, 'Beltsville, MD')
(12434, 'Belvidere, IL')
(6592, 'Bement, IL')
(4857, 'Bend, OR')
(936584, 'Benicia, CA')
(1703, 'Bennington, VT')
(80431008, 'Bensalem, PA')
(4622, 'Benson, MN')
(68463, 'Benton, AR')
(2646, 'Benton, IL')
(2646, 'Bentonville, AR')
(2073870, 'Bergenfield, NJ')
(890145, 'Berkeley Heights, NJ')
(2519, 'Berkeley, CA')
(5905495, 'Berlin, CT')
(18506580, 'Berlin, NH')
(9185, 'Berlin, NJ')
(2168076, 'Berlin, VT')
(3500602, 'Berlin, WI')
(294502, 'Bernardsville, NJ')
(13499, 'Berwyn, PA')
(8281, 'Bethesda, MD')
(15344142, 'Bethlehem, PA')
(6104, 'Bethpage, NY')
(79806, 'Beverly Hills, CA')
(3706049, 'Beverly, MA')
(14571, 'Bickleton, WA')
(7410, 'Big Rapids, MI')
(932563, 'Big Sky Meadow Village, MT')
(587493, 'Big Spring, TX')
(18506580, 'Big Stone Gap, VA')
(37900, 'Billerica, MA')
(14459, 'Billings, MT')
(25039553, 'Biloxi, MS')
(14571, 'Binghamton, NY')
(157346, 'Birch Run, MI')
(106584, 'Birmingham, AL')
(3025562, 'Birmingham, MI')
(28052, 'Biscoe, NC')
(629227, 'Bishopville, SC')
(1103, 'Bismarck, ND')
(6442470, 'Black Mountain, NC')
(2480405, 'Blacksburg, SC')
(166811, 'Blacksburg, VA')
(163025, 'Blaine, MN')
(10420321, 'Blaine, WA')
(1684870, 'Blairsville, GA')
(81954233, 'Bloomfield Hills, MI')
(88289095, 'Bloomfield, CT')
(3706049, 'Bloomfield, NM')
(91534, 'Bloomingdale, GA')
(9308035, 'Bloomington–Normal, IL')
(60561, 'Bloomington, IL')
(104405, 'Bloomington, IN')
(344707, 'Bloomington, MN')
(7795, 'Bloomsburg, PA')
(10358016, 'Bloomsbury, NJ')
(18348487, 'Blue Ash, OH')
(13920, 'Blue Bell, PA')
(1805509, 'Blue Ridge, VA')
(167757, 'Blue Springs, MO')
(6592, 'Bluefield, WV')
(164880, 'Bluffton, IN')
(45970, 'Bluffton, SC')
(808034, 'Blythe, CA')
(23182, 'Boardman, OH')
(73731, 'Boardman, OR')
(166714, 'Boca Raton, FL')
(49042, 'Boerne, TX')
(3690, 'Boise, ID')
(10035810, 'Bolingbrook, IL')
(37902046, 'Bolivar, MO')
(1283753, 'Bolivia, NC')
(9185, 'Bonita Springs, FL')
(22112, 'Boone, NC')
(25856, 'Booneville, MS')
(3706049, 'Boscawen, NH')
(162513, 'Boston Heights, OH')
(53713122, 'Boston Run, PA')
(28978143, 'Boston, MA')
(4060, 'Boston, Massachusetts, United States')
(27253457, 'Bothell, WA')
(43093, 'Boulder City, NV')
(1441, 'Boulder, CO')
(1867264, 'Bourne, MA')
(65384923, 'Bowling Green Metropolitan Area')
(2646, 'Bowling Green, KY')
(8437, 'Bowling Green, OH')
(1497, 'Boxborough, MA')
(4181808, 'Boydton, VA')
(1286891, 'Boylston, MA')
(11227630, 'Boynton Beach, FL')
(1286891, 'Boynton, GA')
(5996, 'Bozeman, MT')
(708393, 'Bradenton, FL')
(71904349, 'Branchburg, NJ')
(14749, 'Branchville, NJ')
(79458773, 'Brandon, FL')
(71904349, 'Branford, CT')
(7795, 'Braselton, GA')
(53508, 'Brawley, CA')
(79560, 'Brea, CA')
(526607, 'Breckenridge Hills, MO')
(220336, 'Breckenridge, CO')
(8017, 'Brecksville, OH')
(89567861, 'Bremerton, WA')
(166753, 'Brenham, TX')
(30755, 'Brentwood, CA')
(3249631, 'Brentwood, NY')
(7795, 'Brentwood, TN')
(1441, 'Bridgeport, AL')
(2988, 'Bridgeport, CT')
(61352, 'Bridgeport, TX')
(2445, 'Bridgeport, WV')
(1770225, 'Bridgeton, MO')
(887776, 'Bridgeview, IL')
(1339209, 'Bridgeville, PA')
(1680, 'Bridgewater, NJ')
(1087250, 'Bridgman, MI')
(1471368, 'Bridgton, ME')
(164376, 'Brier, WA')
(4128, 'Brighton, CO')
(50668, 'Brighton, MI')
(157237, 'Brimfield, OH')
(3693158, 'Brisbane, CA')
(2073870, 'Bristol County, MA')
(18921814, 'Bristol, CT')
(65878041, 'Bristol, IN')
(3109444, 'Bristol, PA')
(1103, 'Bristol, TN')
(15473, 'Bristow, VA')
(2908367, 'Britton, SD')
(41102, 'Broadview, IL')
(7413, 'Brockton, MA')
(40658652, 'Broken Arrow, OK')
(21337, 'Bronx, NY')
(25461, 'Brook Park, OH')
(4918, 'Brookfield, WI')
(999245, 'Brookline, MA')
(1293049, 'Brooklyn Park, MN')
(6104, 'Brooklyn, NY')
(3252, 'Brooklyn, OH')
(5195, 'Brookshire, TX')
(1104193, 'Brooksville, FL')
(164880, 'Brooktondale, NY')
(73974, 'Brookville, OH')
(2238, 'Broomfield, CO')
(1410985, 'Brownsburg, IN')
(22309011, 'Brownstown, MI')
(14542824, 'Brownsville, TX')
(9460096, 'Brownwood, TX')
(808034, 'Brunswick, GA')
(1703, 'Brunswick, ME')
(76171420, 'Brunswick, TN')
(4556, 'Bryan, TX')
(660180, 'Bryant, AR')
(11056, 'Bryn Mawr, PA')
(7099708, 'Buckeye Lake, OH')
(4128, 'Buckeye, AZ')
(85123, 'Buda, TX')
(166572, 'Buena Park, CA')
(2652881, 'Buena, NJ')
(10420321, 'Buffalo Grove, IL')
(10894709, 'Buffalo-Niagara Falls Area')
(164798, 'Buffalo, NY')
(120240, 'Buffalo, WY')
(1729578, 'Buford, GA')
(46000, 'Bullhead City, AZ')
(6979, 'Buras, LA')
(29322289, 'Burbank, CA')
(13074, 'Burien, WA')
(10667, 'Burlingame, CA')
(28978143, 'Burlington, MA')
(18860134, 'Burlington, NC')
(28149455, 'Burlington, NJ')
(19107, 'Burlington, VT')
(4324, 'Burlington, WA')
(11056, 'Burnsville, MN')
(1022308, 'Burrillville, RI')
(12787, 'Butner, NC')
(4822178, 'Byhalia, MS')
(165472, 'Byron, GA')
(10141, 'Cabazon, CA')
(4324, 'Caddo Mills, TX')
(1668, 'Cadillac, MI')
(6593, 'Calabasas, CA')
(856720, 'Caldwell, ID')
(3570660, 'Caledonia, MI')
(14287, 'Calera, AL')
(315817, 'Calhoun, GA')
(601919, 'California, United States')
(163883, 'Calistoga, CA')
(3681, 'Calvert, AL')
(1274529, 'Camarillo, CA')
(3570660, 'Camas, WA')
(1441, 'Cambridge, MA')
(64923472, 'Cambridge, MD')
(1511, 'Cambridge, MN')
(11402317, 'Camden, NJ')
(29579, 'Camelback, California, United States')
(28669777, 'Cameron, TX')
(3658, 'Camp Hill, PA')
(634422, 'Campbell, CA')
(17937, 'Campbell, FL')
(34683141, 'Canby, OR')
(2701, 'Candler, NC')
(258644, 'Cannon Falls, MN')
(12669435, 'Canon City, CO')
(3706049, 'Canton, GA')
(28597931, 'Canton, MA')
(12842, 'Canton, MI')
(163828, 'Canton, NC')
(164245, 'Canton, OH')
(9185, 'Cantonment, FL')
(2646, 'Canyon, TX')
(25039398, 'Cape Canaveral, FL')
(15691, 'Cape Coral Metropolitan Area')
(283513, 'Cape Coral, FL')
(14542824, 'Cape Girardeau, MO')
(3706049, 'Cape May Court House, NJ')
(72483, 'Capistrano Beach, CA')
(981412, 'Capitan, NM')
(2247, 'Capitol Heights, MD')
(31815, 'Capitola, CA')
(79042201, 'Capron, VA')
(202443, 'Carbondale, PA')
(62424, 'Cardiff-by-the-Sea, CA')
(10877849, 'Carlisle, PA')
(9814, 'Carlsbad, CA')
(209610, 'Carlsbad, NM')
(487174, 'Carmel, IN')
(2646, 'Carmi, IL')
(1468, 'Carmichaels, PA')
(4128, 'Carnegie, PA')
(3180238, 'Caro, MI')
(55057585, 'Carol Stream, IL')
(632911, 'Carpinteria, CA')
(23858, 'Carrollton, GA')
(4768, 'Carrollton, TX')
(2137, 'Carson City, NV')
(808034, 'Cartersville, GA')
(57978, 'Carthage, MO')
(28669777, 'Caruthersville, MO')
(432241, 'Cary, NC')
(214960, 'Casa Grande, AZ')
(18506580, 'Casper, WY')
(86639237, 'Caspian, MI')
(74985, 'Castle Rock, CO')
(808034, 'Castro Valley, CA')
(220336, 'Cathedral City, CA')
(444038, 'Catskill, NY')
(4453, 'Cayce, SC')
(23410, 'Cedar City, UT')
(3240, 'Cedar Falls, IA')
(28149455, 'Cedar Grove, NJ')
(2251, 'Cedar Hill, TX')
(3099084, 'Cedar Lake, IN')
(1505, 'Cedar Rapids, IA')
(808034, 'Centennial, CO')
(20573, 'Centerville, TN')
(2646, 'Central City, KY')
(15241130, 'Central Islip, NY')
(493453, 'Central, SC')
(6913, 'Centralia, WA')
(3706049, 'Centre Hall, PA')
(15472, 'Centreville, VA')
(609279, 'Ceres, CA')
(5153, 'Cerritos, CA')
(69601172, 'Chadds Ford, PA')
(378234, 'Chalfont, PA')
(73013724, 'Chambersburg, PA')
(22208562, 'Champaign, IL')
(26923, 'Champlin, MN')
(104405, 'Chandler, AZ')
(8034, 'Chanhassen, MN')
(14255, 'Channahon, IL')
(1403, 'Chantilly, VA')
(166587, 'Chapel Hill, NC')
(157353, 'Chappaqua, NY')
(2936694, 'Charles City, IA')
(2908367, 'Charleston, IL')
(10877848, 'Charleston, SC')
(51586544, 'Charleston, South Carolina Metropolitan Area')
(1557409, 'Charleston, South Carolina, United States')
(1043, 'Charleston, WV')
(163139, 'Charlotte Metro')
(814025, 'Charlotte, AR')
(18425303, 'Charlotte, NC')
(35651393, 'Charlotte, North Carolina, United States')
(4298, 'Charlottesville, VA')
(18106262, 'Charter Oak, CA')
(10295, 'Chaska, MN')
(164931, 'Chatham, IL')
(2855513, 'Chattanooga, TN')
(3450, 'Chelmsford, MA')
(6756178, 'Chelsea, MI')
(13074, 'Cheney, WA')
(305287, 'Cheraw, SC')
(4872230, 'Cherry Hill, NJ')
(1317726, 'Chesapeake, VA')
(1557409, 'Cheshire, CT')
(78378963, 'Chester County, PA')
(64923472, 'Chester, MD')
(17233, 'Chester, PA')
(1945473, 'Chester, SC')
(46000, 'Chester, VA')
(10974065, 'Chesterfield Township, MI')
(884316, 'Chesterfield, MI')
(248599, 'Chesterfield, MO')
(1931371, 'Chestnut Hill, MA')
(49042, 'Chevy Chase, MD')
(70696, 'Cheyenne, WY')
(2430668, 'Chicago Heights, IL')
(36749, 'Chicago Ridge, IL')
(2649, 'Chicago, IL')
(12332, 'Chico, CA')
(13542, 'Chicopee, MA')
(14542824, 'Chillicothe, OH')
(2646, 'Chilton, WI')
(30755, 'Chino, CA')
(42166, 'Chippewa Falls, WI')
(3677, 'Chisago City, MN')
(12890, 'Christiana, DE')
(3617422, 'Christiansburg, VA')
(14606618, 'Chula Vista, CA')
(167757, 'Cicero, IL')
(8781, 'Cincinnati Metropolitan Area')
(2432, 'Cincinnati, OH')
(107434, 'Circleville, OH')
(4453, 'City of Industry, CA')
(22523, 'City Park, UT')
(34424, 'Clackamas, OR')
(1703, 'Claremont, NH')
(1908498, 'Claremore, OK')
(10854676, 'Clarence, NY')
(15434, 'Clarinda, IA')
(1703, 'Clarion, PA')
(28597765, 'Clarksboro, NJ')
(10514179, 'Clarksburg, WV')
(243836, 'Clarkston, MI')
(7197, 'Clarksville, TN')
(2301992, 'Claymont, DE')
(2701866, 'Claypool, AZ')
(164376, 'Clayton, MO')
(41004, 'Clayton, NC')
(1900, 'Clear Lake, IA')
(1344, 'Clearwater, FL')
(71316538, 'Clearwater, Florida, United States')
(550530, 'Cleburne, TX')
(1058190, 'Clemson, SC')
(73202971, 'Clermont, FL')
(3549, 'Cleveland Heights, OH')
(45346, 'Cleveland, GA')
(2203697, 'Cleveland, MS')
(777243, 'Cleveland, OH')
(9185, 'Cleveland, TN')
(6979, 'Cliffwood, NJ')
(18860134, 'Clifton Park, NY')
(42134, 'Clifton, NJ')
(20088, 'Clifton, TN')
(4019848, 'Clinton Township, MI')
(35504315, 'Clinton, IA')
(2646, 'Clinton, IN')
(32758, 'Clinton, MA')
(1945473, 'Clinton, MD')
(3534, 'Clinton, MS')
(1211063, 'Clinton, NC')
(12534, 'Clinton, NJ')
(9676, 'Clinton, OK')
(9596847, 'Clovis, CA')
(1211063, 'Clyde, NC')
(65294553, 'Clyde, NY')
(8141, 'Coal City, IN')
(76127808, 'Coatesville, PA')
(3558, 'Cobb County, GA')
(6176, 'Coconut Creek, FL')
(5292867, "Coeur d'Alene, ID")
(14658457, 'Cofield, NC')
(19107, 'Colchester, VT')
(808034, 'Coldwater, MI')
(2973906, 'College Park, GA')
(45575, 'College Park, MD')
(4556, 'College Station, TX')
(1399, 'Collegeville, PA')
(82315512, 'Colleyville, TX')
(72801, 'Collierville, TN')
(90413667, 'Collins, MS')
(9643, 'Collinsville, IL')
(166774, 'Colonial Heights, VA')
(39203, 'Colorado Springs, CO')
(601919, 'Colorado, United States')
(18506580, 'Colton, CA')
(7947, 'Columbia, MD')
(5442, 'Columbia, MO')
(1943848, 'Columbia, MS')
(23379, 'Columbia, PA')
(12606850, 'Columbia, SC')
(78124, 'Columbia, South Carolina Metropolitan Area')
(7032, 'Columbia, TN')
(92966191, 'Columbus metropolitan area, OH')
(19180, 'Columbus, GA')
(132002, 'Columbus, IN')
(1943848, 'Columbus, MS')
(2646, 'Columbus, NE')
(8390, 'Columbus, OH')
(200465, 'Columbus, Ohio Metropolitan Area')
(2712856, 'Columbus, Ohio, United States')
(5618, 'Commerce, CA')
(537246, 'Concord, CA')
(58602, 'Concord, MA')
(49042, 'Concord, NC')
(3706049, 'Concord, NH')
(20088, 'Conneaut, OH')
(64272643, 'Connecticut, United States')
(71904349, 'Conover, NC')
(7479, 'Conroe, TX')
(17233, 'Conshohocken, PA')
(14841964, 'Conway, AR')
(21444, 'Conway, SC')
(46000, 'Conyers, GA')
(9499, 'Cool Spring, NC')
(7929696, 'Coon Rapids, MN')
(8817, 'Coopersburg, PA')
(111108, 'Coos Bay, OR')
(1515366, 'Coppell, TX')
(15656, 'Coral Gables, FL')
(14542824, 'Coral Springs, FL')
(21041, 'Coralville, IA')
(1463, 'Coraopolis, PA')
(39540, 'Cordele, GA')
(1945473, 'Cordova, AK')
(6738, 'Core, WV')
(12446, 'Corinth, MS')
(9499, 'Cornelia, GA')
(88289095, 'Corning, NY')
(2074192, 'Corona del Mar, CA')
(140581, 'Corona, CA')
(35446044, 'Corpus Christi, TX')
(165725, 'Corte Madera, CA')
(6979, 'Cortland, NY')
(18506580, 'Cortlandt Manor, NY')
(14542824, 'Corvallis, OR')
(1286891, 'Corydon, IA')
(98209783, 'Cos Cob, CT')
(602239, 'Coshocton, OH')
(3316709, 'Costa Mesa, CA')
(165422, 'Cottage Grove, OR')
(104405, 'Cottleville, MO')
(5343, 'Cottondale, AL')
(34218836, 'Cottonwood, AZ')
(1945473, 'Council Bluffs, IA')
(14255, 'Country Club Hills, IL')
(71904349, 'Coventry, RI')
(468782, 'Covington, GA')
(72483, 'Covington, KY')
(3143932, 'Covington, LA')
(808034, 'Covington, WA')
(3706049, 'Coxsackie, NY')
(2247, 'Cranberry Township, PA')
(1284978, 'Crane, IN')
(104396, 'Cranford, NJ')
(2252, 'Cranston, RI')
(14287, 'Crawford, TX')
(12820, 'Creedmoor, NC')
(2646, 'Crescent City, CA')
(5242206, 'Crescent City, FL')
(2646, 'Creston, IA')
(89877420, 'Crestview, FL')
(2615835, 'Crete, IL')
(162828, 'Crete, NE')
(468782, 'Creve Coeur, MO')
(4031183, 'Cross Junction, VA')
(15080, 'Cross Lanes, WV')
(165294, 'Crown Point, IN')
(1375621, 'Crystal City, MO')
(113097, 'Crystal City, TX')
(10420321, 'Crystal Lake, IL')
(76171420, 'Crystal Springs, MS')
(53959, 'Cudahy, WI')
(4297, 'Culpeper, VA')
(28439179, 'Culver City, CA')
(3706049, 'Cumberland, MD')
(5027745, 'Cumming, GA')
(8299, 'Cupertino, CA')
(7032, 'Cutler Bay, FL')
(1263534, 'Cuyahoga Falls, OH')
(25081, 'Cypress, CA')
(9401140, 'Cypress, TX')
(3570660, 'Dacula, GA')
(34902814, 'Daggett, CA')
(104405, 'Dakota Dunes, SD')
(630847, 'Dakota, IL')
(16995, 'Daleville, VA')
(28893, 'Dallas County, TX')
(76947396, 'Dallas-Fort Worth Metroplex')
(1703, 'Dallas, GA')
(17882, 'Dallas, Texas, United States')
(6250, 'Dallas, TX')
(269675, 'Dallastown, PA')
(165472, 'Dalton, GA')
(856720, 'Daly City, CA')
(9177279, 'Damascus, MD')
(35571114, 'Danbury, CT')
(163253, 'Dania, FL')
(8359, 'Danvers, MA')
(1945473, 'Danville, IL')
(7788794, 'Danville, PA')
(9229, 'Danville, VA')
(166551, 'Dardanelle, AR')
(51701193, 'Dartmouth, MA')
(688958, 'Dauphin County, PA')
(18506580, 'Davenport, FL')
(2736008, 'Davenport, IA')
(64259963, 'Davidson, NC')
(14542824, 'Davie, FL')
(533823, 'Dawsonville, GA')
(15259054, 'Dayton, OH')
(164527, 'Dayton, TN')
(861806, 'Daytona Beach, FL')
(2193256, 'De Pere, WI')
(68049148, 'De Witt, IA')
(165299, 'Dearborn Heights, MI')
(71904349, 'Dearborn, MI')
(45716, 'Death Valley, CA')
(2396310, 'Decatur, AL')
(20009, 'Decatur, GA')
(5553, 'Decatur, IL')
(1943848, 'Decatur, MS')
(4725, 'Decorah, IA')

#### Explained query

In [46]:
sql_query_explain(query2)

(1, 'PRIMARY', '<derived2>', None, 'ref', '<auto_key0>', '<auto_key0>', '8', 'const', 10, 100.0, None)
(2, 'DERIVED', 'job_postings', None, 'ALL', None, None, None, None, 15830, 100.0, 'Using temporary; Using filesort')

#### Average time

In [47]:
sql_query_avg_time(query2,x,"3a-2")

No optimization:  avg total time SQL-Query 3a-2  =  0.22435481548309327

## Query 3b - 1

Esta consulta recupera informações sobre empresas, incluindo o seu ID, nome, número de empregados e o número de ofertas de emprego em que o título contém "er". Também filtra as empresas com mais de 5 ofertas de emprego e ordena os resultados pela contagem de ofertas por ordem decrescente. A utilização de LEFT JOINs garante que as empresas sem entradas correspondentes nas tabelas benefits ou employee_counts continuam a ser incluídas nos resultados.

In [48]:
query3 = ("SELECT c.company_id, c.name as company_name, ec.employee_count, COUNT(*) as job_count "
                     "FROM job_postings jp "
                     "LEFT JOIN companies c ON jp.company_id = c.company_id "
                     "LEFT JOIN benefits b ON jp.job_id = b.job_id "
                     "LEFT JOIN employee_counts ec ON c.company_id = ec.company_id "
                     "WHERE jp.title LIKE '%er' GROUP BY c.company_id, c.name, ec.employee_count "
                     "HAVING job_count > 5 ORDER BY job_count DESC;")

#### Result:

In [49]:
sql_query_result(query3,"3b-1")

(163139, 'Cogent Communications', 2258, 60)
(163139, 'Cogent Communications', 2255, 60)
(163139, 'Cogent Communications', 2250, 60)
(10420321, 'The Mom Project', 897, 43)
(10420321, 'The Mom Project', 902, 43)
(11056, 'Insight Global', 13096, 33)
(11056, 'Insight Global', 13698, 33)
(11056, 'Insight Global', 13787, 33)
(11056, 'Insight Global', 13801, 33)
(11056, 'Insight Global', 13804, 33)
(18860134, 'Jobot', 2148, 31)
(18860134, 'Jobot', 2781, 31)
(18860134, 'Jobot', 2783, 31)
(18860134, 'Jobot', 2774, 31)
(49042, 'Five Star Senior Living', 2882, 26)
(49042, 'Five Star Senior Living', 2905, 26)
(49042, 'Five Star Senior Living', 2904, 26)
(7795, 'Petco', 15497, 25)
(7795, 'Petco', 15848, 25)
(7795, 'Petco', 15841, 25)
(1403, 'Booz Allen Hamilton', 38277, 24)
(1403, 'Booz Allen Hamilton', 35963, 24)
(1403, 'Booz Allen Hamilton', 35961, 24)
(1403, 'Booz Allen Hamilton', 35400, 24)
(77301, "Raising Cane's Chicken Fingers", 10158, 24)
(77301, "Raising Cane's Chicken Fingers", 10861, 24)
(77301, "Raising Cane's Chicken Fingers", 10863, 24)
(1681, 'Robert Half', 32197, 23)
(1681, 'Robert Half', 32147, 23)
(1681, 'Robert Half', 29381, 23)
(1681, 'Robert Half', 29389, 23)
(1681, 'Robert Half', 29388, 23)
(1681, 'Robert Half', 29372, 23)
(1103, 'Verizon', 95609, 23)
(1103, 'Verizon', 92691, 23)
(1103, 'Verizon', 92690, 23)
(1103, 'Verizon', 92240, 23)
(1344, 'Honeywell', 127293, 23)
(1344, 'Honeywell', 128397, 23)
(1344, 'Honeywell', 128388, 23)
(1344, 'Honeywell', 127620, 23)
(71904349, 'Actalent', 5857, 22)
(71904349, 'Actalent', 5853, 22)
(601919, 'Genesys', 7397, 20)
(601919, 'Genesys', 7486, 20)
(25856, 'Tradesmen International', 4968, 18)
(25856, 'Tradesmen International', 5043, 18)
(25856, 'Tradesmen International', 5042, 18)
(25856, 'Tradesmen International', 5044, 18)
(64666, 'Ombudsman Educational Services', 333, 15)
(64666, 'Ombudsman Educational Services', 331, 15)
(72483, 'Aimbridge Hospitality', 7529, 15)
(72483, 'Aimbridge Hospitality', 7624, 15)
(72483, 'Aimbridge Hospitality', 7626, 15)
(72483, 'Aimbridge Hospitality', 7628, 15)
(2396310, 'Randstad USA', 8074, 15)
(2396310, 'Randstad USA', 8089, 15)
(4060, 'Cushman & Wakefield', 40637, 14)
(4060, 'Cushman & Wakefield', 40700, 14)
(4060, 'Cushman & Wakefield', 40688, 14)
(1557409, 'Crown Castle', 5635, 14)
(1557409, 'Crown Castle', 5541, 14)
(3240, 'Farmers Insurance', 53065, 14)
(3240, 'Farmers Insurance', 53116, 14)
(3240, 'Farmers Insurance', 53102, 14)
(18312164, 'Bravado', 184, 13)
(18312164, 'Bravado', 189, 13)
(18312164, 'Bravado', 192, 13)
(65294553, 'Brightpath Associates LLC', 59, 13)
(65294553, 'Brightpath Associates LLC', 61, 13)
(65294553, 'Brightpath Associates LLC', 70, 13)
(65294553, 'Brightpath Associates LLC', 69, 13)
(9814, 'Eastridge Workforce Solutions', 950, 12)
(5235, 'LHH', 12457, 11)
(5235, 'LHH', 12904, 11)
(5235, 'LHH', 13020, 11)
(5235, 'LHH', 13014, 11)
(5235, 'LHH', 12986, 11)
(7587370, 'GrayWolf', 134, 11)
(20009, 'Bimbo Bakeries USA', 9406, 11)
(20009, 'Bimbo Bakeries USA', 9537, 11)
(20009, 'Bimbo Bakeries USA', 9541, 11)
(20009, 'Bimbo Bakeries USA', 9540, 11)
(162724, 'Blackbaud', 3473, 10)
(73013724, 'J. Galt', 251, 10)
(73013724, 'J. Galt', 363, 10)
(73013724, 'J. Galt', 358, 10)
(1939425, 'Midwest Holding Inc.', 80, 9)
(157237, 'Newell Brands', 12746, 9)
(157237, 'Newell Brands', 12747, 9)
(157237, 'Newell Brands', 12902, 9)
(307886, 'Canadian Solar Inc.', 1696, 9)
(26923, 'Holiday Stationstores', 1054, 9)
(26923, 'Holiday Stationstores', 1084, 9)
(26923, 'Holiday Stationstores', 1085, 9)
(12890, "Cabela's", 6957, 9)
(12890, "Cabela's", 7020, 9)
(12890, "Cabela's", 7010, 9)
(17246, 'Relevante, Inc.', 165, 9)
(17246, 'Relevante, Inc.', 173, 9)
(163253, 'Creative Circle', 1857, 9)
(163253, 'Creative Circle', 1866, 9)
(163253, 'Creative Circle', 1863, 9)
(167757, 'The Job Network', 73, 9)
(167757, 'The Job Network', 74, 9)
(18043, 'Addison Group', 1955, 8)
(18043, 'Addison Group', 1950, 8)
(18043, 'Addison Group', 1911, 8)
(18043, 'Addison Group', 1907, 8)
(1505, 'Raytheon', 43440, 8)
(1505, 'Raytheon', 44251, 8)
(1505, 'Raytheon', 44249, 8)
(1505, 'Raytheon', 44244, 8)
(1505, 'Raytheon', 44247, 8)
(3690, 'Micron Technology', 26043, 8)
(3690, 'Micron Technology', 26044, 8)
(1511, 'Mondelēz International', 39265, 8)
(1511, 'Mondelēz International', 39920, 8)
(1511, 'Mondelēz International', 39914, 8)
(11204, 'Hill International, Inc.', 5465, 8)
(2193256, 'GFL Environmental Inc.', 5366, 8)
(2193256, 'GFL Environmental Inc.', 5579, 8)
(2193256, 'GFL Environmental Inc.', 5582, 8)
(1463, 'ADP', 83579, 8)
(1463, 'ADP', 92657, 8)
(1463, 'ADP', 92645, 8)
(2121817, 'DSJ Global', 343, 8)
(2121817, 'DSJ Global', 349, 8)
(2121817, 'DSJ Global', 383, 8)
(76171420, 'Hitachi Energy', 20416, 8)
(76171420, 'Hitachi Energy', 21428, 8)
(73024, 'Billingsley Company', 239, 8)
(7929696, 'Flynn Group', 1246, 8)
(2973906, 'Leidos', 32014, 8)
(2973906, 'Leidos', 31816, 8)
(9185, 'Advance Auto Parts', 19759, 8)
(9185, 'Advance Auto Parts', 20244, 8)
(9185, 'Advance Auto Parts', 20242, 8)
(79383535, 'Akkodis', 21144, 7)
(79383535, 'Akkodis', 21147, 7)
(79383535, 'Akkodis', 21618, 7)
(79383535, 'Akkodis', 21617, 7)
(86694680, 'Ascendion', 1954, 7)
(86694680, 'Ascendion', 2102, 7)
(86694680, 'Ascendion', 2104, 7)
(5343, 'Sysco', 26619, 7)
(5343, 'Sysco', 26634, 7)
(5343, 'Sysco', 26979, 7)
(5343, 'Sysco', 26987, 7)
(15762, 'Page Southerland Page, Inc.', 1721, 7)
(15762, 'Page Southerland Page, Inc.', 1755, 7)
(15762, 'Page Southerland Page, Inc.', 1754, 7)
(7032, 'Ross Stores, Inc.', 29845, 7)
(7032, 'Ross Stores, Inc.', 29859, 7)
(7032, 'Ross Stores, Inc.', 30790, 7)
(7032, 'Ross Stores, Inc.', 30789, 7)
(7032, 'Ross Stores, Inc.', 30778, 7)
(218019, 'Great Hearts Academies', 1182, 6)
(784586, 'Improve Group', 67, 6)
(8117, 'The Judge Group', 2309, 6)
(8117, 'The Judge Group', 2296, 6)
(8117, 'The Judge Group', 2292, 6)
(8117, 'The Judge Group', 2286, 6)
(641035, 'Sun West Mortgage Company, Inc.', 645, 6)
(641035, 'Sun West Mortgage Company, Inc.', 649, 6)
(149485, 'WBE (W. Bradley Electric)', 176, 6)
(2562, 'Dow', 43847, 6)
(2562, 'Dow', 43989, 6)
(5352294, 'Raas Infotek', 186, 6)
(5352294, 'Raas Infotek', 185, 6)
(163883, 'Four Seasons Hotels and Resorts', 30545, 6)
(163883, 'Four Seasons Hotels and Resorts', 31195, 6)
(163883, 'Four Seasons Hotels and Resorts', 31207, 6)
(163883, 'Four Seasons Hotels and Resorts', 31206, 6)
(4822178, 'FactoryFix', 87, 6)
(4822178, 'FactoryFix', 95, 6)
(4822178, 'FactoryFix', 94, 6)
(493453, 'The Scion Group', 822, 6)
(493453, 'The Scion Group', 832, 6)
(493453, 'The Scion Group', 833, 6)
(26873, 'El Pollo Loco, Inc.', 2626, 6)
(4167, 'PNC', 66604, 6)
(4167, 'PNC', 66609, 6)
(4167, 'PNC', 66942, 6)
(4167, 'PNC', 66940, 6)
(2247, 'Johnson Controls', 65962, 6)
(2247, 'Johnson Controls', 65982, 6)
(2247, 'Johnson Controls', 65981, 6)
(2247, 'Johnson Controls', 65702, 6)
(6765, 'Perkins Coie LLP', 2909, 6)
(154713, 'OptionMetrics', 51, 6)
(88289095, 'Magnit', 2353, 6)
(88289095, 'Magnit', 2562, 6)
(88289095, 'Magnit', 2570, 6)
(88289095, 'Magnit', 2567, 6)
(2615835, 'Piper Companies', 187, 6)
(1025, 'Hewlett Packard Enterprise', 70995, 6)
(1025, 'Hewlett Packard Enterprise', 72453, 6)
(1025, 'Hewlett Packard Enterprise', 72445, 6)
(1025, 'Hewlett Packard Enterprise', 71428, 6)
(777243, 'Ascendo Resources', 357, 6)
(777243, 'Ascendo Resources', 329, 6)
(1943848, 'Healthcare Services Group, Inc', 4159, 6)
(1943848, 'Healthcare Services Group, Inc', 4160, 6)
Length of the result for 3b-1 :  204

#### Explained query

In [50]:
sql_query_explain(query3)

(1, 'SIMPLE', 'jp', None, 'ALL', None, None, None, None, 15830, 11.11, 'Using where; Using temporary; Using filesort')
(1, 'SIMPLE', 'c', None, 'eq_ref', 'PRIMARY', 'PRIMARY', '8', 'mysql.jp.company_id', 1, 100.0, None)
(1, 'SIMPLE', 'b', None, 'ref', 'job_id', 'job_id', '9', 'mysql.jp.job_id', 2, 100.0, 'Using index')
(1, 'SIMPLE', 'ec', None, 'ref', 'company_id', 'company_id', '9', 'mysql.c.company_id', 1, 100.0, None)

#### Average time

In [51]:
sql_query_avg_time(query3,x,"3b-1")

No optimization:  avg total time SQL-Query 3b-1  =  0.11321542263031006

## Query 3b - 2

Essa consulta calcula os valores médio, mínimo e máximo da coluna max_salary da tabela salaries, considerando apenas as linhas em que os anúncios de emprego correspondentes têm um max_salary maior que 5000. O RIGHT JOIN garante que todas as linhas da tabela job_postings sejam incluídas, e as linhas correspondentes da tabela salaries sejam incluídas com valores NULL se não houver correspondência.

In [52]:
query4 = ("SELECT avg(jp.max_salary), min(jp.max_salary), max(jp.max_salary) FROM salaries s "
                     "RIGHT JOIN job_postings jp on s.job_id = jp.job_id "
                     "WHERE jp.max_salary > 5000;")

#### Result:

In [53]:
sql_query_result(query4,"3b-2")

(135784.2010912389, 5474.0, 1100000.0)
Length of the result for 3b-2 :  1

#### Explained query

In [54]:
sql_query_explain(query4)

(1, 'SIMPLE', 'jp', None, 'ALL', None, None, None, None, 15830, 33.33, 'Using where')
(1, 'SIMPLE', 's', None, 'ref', 'job_id', 'job_id', '9', 'mysql.jp.job_id', 1, 100.0, 'Using index')

#### Average time

In [55]:
sql_query_avg_time(query4,x,"3b-2")

No optimization:  avg total time SQL-Query 3b-2  =  0.028089284896850586