# Testing performance of queries

In [3]:
import mysql.connector
import numpy as np
import pandas as pd
import time
from pymongo import MongoClient
import pprint


mongo_client = MongoClient('mongodb://root:rootpassword@localhost:27017/admin')
db = mongo_client.admin
salaries_collection = db.salaries
jobs_collection = db.job_postings


client = mysql.connector.connect(user='admin', password='admin', host='localhost', port=3306, database='mysql')
mycursor = client.cursor()


x = 10
times = []

In [4]:
def sql_query_result(query,query_name):
    time_i = time.time()
    mycursor.execute(query)
    time_f = time.time()
    myresult1 = mycursor.fetchall()
    for r in myresult1:
        print(r)
    print("Length of the result for",query_name, ": ", myresult1.__len__())
    print("SQL Execution time:", (time_f-time_i))
    
def mongo_query_result(query,collection,query_name):
    time_i = time.time()
    doc = collection.aggregate(query)
    time_f = time.time()
    result = list(doc)
    for row in result:
        print(row)
    print("Length of the result for",query_name, ": ", result.__len__())
    print("Mongo Execution time:", (time_f-time_i))

In [5]:
def sql_query_explain(query):
    explain_query = f"EXPLAIN {query}"
    mycursor.execute(explain_query)
    explanation_result = mycursor.fetchall()
    for row in explanation_result:
        print(row)
        
def mongo_query_explain(query,collection):
    pprint.pprint(collection.aggregate(query).explain())

In [6]:
def sql_query_avg_time(query,num, query_name):
    times = []
    for i in range(num):
        time_i = time.time()
        mycursor.execute(query)
        mycursor.fetchall()
        time_f = time.time()
        times.append(time_f-time_i)
        
    avgtime = sum(times)/x
    print('No optimization:  avg total time SQL-Query',query_name ,' = ', avgtime)
    
def mongo_query_avg_time(query,collection,num,query_name):
    times = []
    for i in range(num):
        time_i = time.time()
        doc = collection.aggregate(query)
        time_f = time.time()
        times.append(time_f-time_i)
        
    avgtime = sum(times)/x
    print('No optimization:  avg total time Mongo-Query',query_name ,' = ', avgtime)

## Query 3a - 1

Esta consulta calcula o salário máximo médio para cada empresa e, em seguida, ordena os resultados por ordem decrescente do salário máximo médio.

In [7]:
name = "3a-1"

sql_query1 = ("SELECT salary_id, AVG(max_salary) AS avg_max_salary "
          "FROM salaries GROUP BY salary_id ORDER BY avg_max_salary DESC")

mongo_query1 = [{"$group": {
    "_id": "$salary_id",
    "avg_max_salary": {"$avg": "$max_salary"}
}
},
    {"$sort": {"avg_max_salary": -1}
     }]

#### Result:

In [8]:
sql_query_result(sql_query1,name)

(4514, 500000.0)
(6612, 450000.0)
(7163, 400000.0)
(4537, 345000.0)
(7174, 271200.0)
(4536, 264000.0)
(1425, 250000.0)
(4549, 250000.0)
(1438, 243300.0)
(1440, 243300.0)
(1416, 234563.0)
(7137, 220000.0)
(7165, 220000.0)
(6628, 218500.0)
(4554, 215000.0)
(6655, 210000.0)
(6643, 205500.0)
(6625, 200000.0)
(7162, 194400.0)
(6654, 191000.0)
(4531, 190000.0)
(4516, 185300.0)
(4545, 185300.0)
(4597, 185300.0)
(4598, 185300.0)
(4599, 185300.0)
(1397, 175200.0)
(1422, 175125.0)
(4520, 170443.40625)
(6657, 165000.0)
(1419, 162250.0)
(1420, 162250.0)
(1421, 162250.0)
(7127, 160000.0)
(4517, 157500.0)
(4526, 157500.0)
(4527, 157500.0)
(4547, 157500.0)
(4566, 157500.0)
(4567, 157500.0)
(4568, 157500.0)
(4600, 157500.0)
(4601, 157500.0)
(4602, 157500.0)
(4603, 157500.0)
(4604, 157500.0)
(7147, 155000.0)
(6623, 151800.0)
(1426, 150000.0)
(7126, 150000.0)
(7141, 145000.0)
(4575, 144811.0)
(7130, 140000.0)
(6645, 139800.0)
(6646, 139000.0)
(4570, 135000.0)
(4504, 133120.0)
(4546, 132800.0)
(4565, 132800.0)
(1439, 130400.0)
(4569, 130000.0)
(4573, 130000.0)
(6637, 130000.0)
(7133, 130000.0)
(7134, 130000.0)
(6650, 129089.0)
(4582, 126400.0)
(4557, 125000.0)
(4523, 124409.609375)
(4501, 122951.34375)
(6658, 122500.0)
(1415, 120000.0)
(1427, 120000.0)
(7129, 120000.0)
(7132, 120000.0)
(6627, 118000.0)
(4550, 117000.0)
(1432, 115000.0)
(7128, 110000.0)
(7157, 110000.0)
(4560, 108191.203125)
(6613, 105200.0)
(4591, 101764.0)
(1408, 100000.0)
(7124, 100000.0)
(6626, 95000.0)
(7170, 95000.0)
(6642, 92000.0)
(4521, 91052.0)
(6640, 90000.0)
(4577, 85300.0)
(1406, 85000.0)
(4505, 85000.0)
(4524, 85000.0)
(1393, 80000.0)
(4581, 80000.0)
(7131, 80000.0)
(7159, 75000.0)
(4511, 73912.796875)
(6635, 70865.0)
(7125, 70000.0)
(1391, 66000.0)
(1404, 66000.0)
(1434, 65000.0)
(4558, 65000.0)
(4576, 65000.0)
(1412, 62500.0)
(7166, 62500.0)
(1394, 60000.0)
(1396, 60000.0)
(1398, 60000.0)
(1399, 60000.0)
(1401, 60000.0)
(1403, 60000.0)
(4555, 60000.0)
(4572, 58500.0)
(4528, 55000.0)
(4529, 55000.0)
(4571, 53000.0)
(4562, 50000.0)
(7123, 50000.0)
(4561, 49968.76953125)
(7146, 48000.0)
(4509, 46359.23046875)
(4594, 45000.0)
(1402, 14954.0)
(7154, 9945.0)
(6647, 90.0)
(4583, 83.0)
(6660, 77.0)
(1436, 73.0)
(4588, 71.25)
(1435, 63.0)
(1407, 59.0)
(4589, 56.349998474121094)
(1430, 56.0)
(1390, 54.63999938964844)
(1405, 53.61000061035156)
(1392, 51.88999938964844)
(4578, 50.0)
(6617, 48.0)
(6616, 46.2599983215332)
(4512, 46.0)
(4513, 46.0)
(4539, 46.0)
(4540, 46.0)
(4564, 46.0)
(4519, 45.0)
(4522, 44.77000045776367)
(4502, 44.54999923706055)
(7156, 43.790000915527344)
(1414, 40.0)
(1429, 39.58000183105469)
(4530, 38.0)
(4556, 38.0)
(6632, 36.56999969482422)
(6629, 36.29999923706055)
(6624, 36.060001373291016)
(6652, 35.0)
(7161, 35.0)
(1418, 33.880001068115234)
(1411, 33.0)
(7145, 33.0)
(6651, 32.0)
(1424, 31.0)
(6610, 30.540000915527344)
(6659, 30.540000915527344)
(1428, 30.0)
(4548, 30.0)
(4551, 30.0)
(7149, 29.520000457763672)
(6619, 28.799999237060547)
(4532, 28.0)
(6639, 28.0)
(7171, 27.690000534057617)
(6633, 27.670000076293945)
(1395, 27.0)
(1423, 27.0)
(1413, 26.899999618530273)
(4503, 25.6299991607666)
(4538, 25.6299991607666)
(4590, 25.6299991607666)
(1437, 25.600000381469727)
(6638, 25.43000030517578)
(4574, 25.0)
(7151, 24.309999465942383)
(4552, 24.0)
(6648, 24.0)
(7138, 23.719999313354492)
(7140, 23.719999313354492)
(6636, 23.6299991607666)
(7142, 23.290000915527344)
(6611, 23.25)
(6615, 23.0)
(6631, 22.559999465942383)
(7172, 22.5)
(6618, 22.100000381469727)
(1431, 22.0)
(7139, 21.719999313354492)
(1417, 21.639999389648438)
(4595, 21.5)
(6644, 21.0)
(1410, 20.459999084472656)
(1400, 20.0)
(4553, 19.0)
(6621, 19.0)
(6614, 18.5)
(6656, 18.5)
(7164, 16.8799991607666)
(4525, 16.5)
(4533, 16.5)
(4543, 16.5)
(4584, 16.5)
(4596, 16.5)
(4507, 12.0)
(4535, 12.0)
(7136, 11.5)
(1409, 0.0)
(1433, 0.0)
(4506, 0.0)
(4508, 0.0)
(4510, 0.0)
(4515, 0.0)
(4518, 0.0)
(4534, 0.0)
(4541, 0.0)
(4542, 0.0)
(4544, 0.0)
(4559, 0.0)
(4563, 0.0)
(4579, 0.0)
(4580, 0.0)
(4585, 0.0)
(4586, 0.0)
(4587, 0.0)
(4592, 0.0)
(4593, 0.0)
(6609, 0.0)
(6620, 0.0)
(6622, 0.0)
(6630, 0.0)
(6634, 0.0)
(6641, 0.0)
(6649, 0.0)
(6653, 0.0)
(7135, 0.0)
(7143, 0.0)
(7144, 0.0)
(7148, 0.0)
(7150, 0.0)
(7152, 0.0)
(7153, 0.0)
(7155, 0.0)
(7158, 0.0)
(7160, 0.0)
(7167, 0.0)
(7168, 0.0)
(7169, 0.0)
(7173, 0.0)
Length of the result for 3a-1 :  259
SQL Execution time: 1.5491561889648438

In [9]:
mongo_query_result(mongo_query1,salaries_collection,name)

{'_id': 4514, 'avg_max_salary': 500000.0}
{'_id': 6612, 'avg_max_salary': 450000.0}
{'_id': 7163, 'avg_max_salary': 400000.0}
{'_id': 4537, 'avg_max_salary': 345000.0}
{'_id': 7174, 'avg_max_salary': 271200.0}
{'_id': 4536, 'avg_max_salary': 264000.0}
{'_id': 1425, 'avg_max_salary': 250000.0}
{'_id': 4549, 'avg_max_salary': 250000.0}
{'_id': 1440, 'avg_max_salary': 243300.0}
{'_id': 1438, 'avg_max_salary': 243300.0}
{'_id': 1416, 'avg_max_salary': 234563.0}
{'_id': 7137, 'avg_max_salary': 220000.0}
{'_id': 7165, 'avg_max_salary': 220000.0}
{'_id': 6628, 'avg_max_salary': 218500.0}
{'_id': 4554, 'avg_max_salary': 215000.0}
{'_id': 6655, 'avg_max_salary': 210000.0}
{'_id': 6643, 'avg_max_salary': 205500.0}
{'_id': 6625, 'avg_max_salary': 200000.0}
{'_id': 7162, 'avg_max_salary': 194400.0}
{'_id': 6654, 'avg_max_salary': 191000.0}
{'_id': 4531, 'avg_max_salary': 190000.0}
{'_id': 4597, 'avg_max_salary': 185300.0}
{'_id': 4516, 'avg_max_salary': 185300.0}
{'_id': 4599, 'avg_max_salary': 185300.0}
{'_id': 4598, 'avg_max_salary': 185300.0}
{'_id': 4545, 'avg_max_salary': 185300.0}
{'_id': 1397, 'avg_max_salary': 175200.0}
{'_id': 1422, 'avg_max_salary': 175125.0}
{'_id': 4520, 'avg_max_salary': 170443.0}
{'_id': 6657, 'avg_max_salary': 165000.0}
{'_id': 1420, 'avg_max_salary': 162250.0}
{'_id': 1419, 'avg_max_salary': 162250.0}
{'_id': 1421, 'avg_max_salary': 162250.0}
{'_id': 7127, 'avg_max_salary': 160000.0}
{'_id': 4517, 'avg_max_salary': 157500.0}
{'_id': 4604, 'avg_max_salary': 157500.0}
{'_id': 4566, 'avg_max_salary': 157500.0}
{'_id': 4526, 'avg_max_salary': 157500.0}
{'_id': 4602, 'avg_max_salary': 157500.0}
{'_id': 4600, 'avg_max_salary': 157500.0}
{'_id': 4603, 'avg_max_salary': 157500.0}
{'_id': 4527, 'avg_max_salary': 157500.0}
{'_id': 4547, 'avg_max_salary': 157500.0}
{'_id': 4568, 'avg_max_salary': 157500.0}
{'_id': 4601, 'avg_max_salary': 157500.0}
{'_id': 4567, 'avg_max_salary': 157500.0}
{'_id': 7147, 'avg_max_salary': 155000.0}
{'_id': 6623, 'avg_max_salary': 151800.0}
{'_id': 1426, 'avg_max_salary': 150000.0}
{'_id': 7126, 'avg_max_salary': 150000.0}
{'_id': 7141, 'avg_max_salary': 145000.0}
{'_id': 4575, 'avg_max_salary': 144811.0}
{'_id': 7130, 'avg_max_salary': 140000.0}
{'_id': 6645, 'avg_max_salary': 139800.0}
{'_id': 6646, 'avg_max_salary': 139000.0}
{'_id': 4570, 'avg_max_salary': 135000.0}
{'_id': 4504, 'avg_max_salary': 133120.0}
{'_id': 4565, 'avg_max_salary': 132800.0}
{'_id': 4546, 'avg_max_salary': 132800.0}
{'_id': 1439, 'avg_max_salary': 130400.0}
{'_id': 4569, 'avg_max_salary': 130000.0}
{'_id': 7134, 'avg_max_salary': 130000.0}
{'_id': 6637, 'avg_max_salary': 130000.0}
{'_id': 7133, 'avg_max_salary': 130000.0}
{'_id': 4573, 'avg_max_salary': 130000.0}
{'_id': 6650, 'avg_max_salary': 129089.0}
{'_id': 4582, 'avg_max_salary': 126400.0}
{'_id': 4557, 'avg_max_salary': 125000.0}
{'_id': 4523, 'avg_max_salary': 124410.0}
{'_id': 4501, 'avg_max_salary': 122951.0}
{'_id': 6658, 'avg_max_salary': 122500.0}
{'_id': 1427, 'avg_max_salary': 120000.0}
{'_id': 1415, 'avg_max_salary': 120000.0}
{'_id': 7132, 'avg_max_salary': 120000.0}
{'_id': 7129, 'avg_max_salary': 120000.0}
{'_id': 6627, 'avg_max_salary': 118000.0}
{'_id': 4550, 'avg_max_salary': 117000.0}
{'_id': 1432, 'avg_max_salary': 115000.0}
{'_id': 7157, 'avg_max_salary': 110000.0}
{'_id': 7128, 'avg_max_salary': 110000.0}
{'_id': 4560, 'avg_max_salary': 108191.0}
{'_id': 6613, 'avg_max_salary': 105200.0}
{'_id': 4591, 'avg_max_salary': 101764.0}
{'_id': 7124, 'avg_max_salary': 100000.0}
{'_id': 1408, 'avg_max_salary': 100000.0}
{'_id': 6626, 'avg_max_salary': 95000.0}
{'_id': 7170, 'avg_max_salary': 95000.0}
{'_id': 6642, 'avg_max_salary': 92000.0}
{'_id': 4521, 'avg_max_salary': 91052.0}
{'_id': 6640, 'avg_max_salary': 90000.0}
{'_id': 4577, 'avg_max_salary': 85300.0}
{'_id': 4524, 'avg_max_salary': 85000.0}
{'_id': 1406, 'avg_max_salary': 85000.0}
{'_id': 4505, 'avg_max_salary': 85000.0}
{'_id': 1393, 'avg_max_salary': 80000.0}
{'_id': 4581, 'avg_max_salary': 80000.0}
{'_id': 7131, 'avg_max_salary': 80000.0}
{'_id': 7159, 'avg_max_salary': 75000.0}
{'_id': 4511, 'avg_max_salary': 73912.8}
{'_id': 6635, 'avg_max_salary': 70865.0}
{'_id': 7125, 'avg_max_salary': 70000.0}
{'_id': 1404, 'avg_max_salary': 66000.0}
{'_id': 1391, 'avg_max_salary': 66000.0}
{'_id': 4558, 'avg_max_salary': 65000.0}
{'_id': 4576, 'avg_max_salary': 65000.0}
{'_id': 1434, 'avg_max_salary': 65000.0}
{'_id': 1412, 'avg_max_salary': 62500.0}
{'_id': 7166, 'avg_max_salary': 62500.0}
{'_id': 1396, 'avg_max_salary': 60000.0}
{'_id': 4555, 'avg_max_salary': 60000.0}
{'_id': 1398, 'avg_max_salary': 60000.0}
{'_id': 1403, 'avg_max_salary': 60000.0}
{'_id': 1401, 'avg_max_salary': 60000.0}
{'_id': 1394, 'avg_max_salary': 60000.0}
{'_id': 1399, 'avg_max_salary': 60000.0}
{'_id': 4572, 'avg_max_salary': 58500.0}
{'_id': 4528, 'avg_max_salary': 55000.0}
{'_id': 4529, 'avg_max_salary': 55000.0}
{'_id': 4571, 'avg_max_salary': 53000.0}
{'_id': 7123, 'avg_max_salary': 50000.0}
{'_id': 4562, 'avg_max_salary': 50000.0}
{'_id': 4561, 'avg_max_salary': 49968.8}
{'_id': 7146, 'avg_max_salary': 48000.0}
{'_id': 4509, 'avg_max_salary': 46359.2}
{'_id': 4594, 'avg_max_salary': 45000.0}
{'_id': 1402, 'avg_max_salary': 14954.0}
{'_id': 7154, 'avg_max_salary': 9945.0}
{'_id': 6647, 'avg_max_salary': 90.0}
{'_id': 4583, 'avg_max_salary': 83.0}
{'_id': 6660, 'avg_max_salary': 77.0}
{'_id': 1436, 'avg_max_salary': 73.0}
{'_id': 4588, 'avg_max_salary': 71.25}
{'_id': 1435, 'avg_max_salary': 63.0}
{'_id': 1407, 'avg_max_salary': 59.0}
{'_id': 4589, 'avg_max_salary': 56.35}
{'_id': 1430, 'avg_max_salary': 56.0}
{'_id': 1390, 'avg_max_salary': 54.64}
{'_id': 1405, 'avg_max_salary': 53.61}
{'_id': 1392, 'avg_max_salary': 51.89}
{'_id': 4578, 'avg_max_salary': 50.0}
{'_id': 6617, 'avg_max_salary': 48.0}
{'_id': 6616, 'avg_max_salary': 46.26}
{'_id': 4540, 'avg_max_salary': 46.0}
{'_id': 4513, 'avg_max_salary': 46.0}
{'_id': 4539, 'avg_max_salary': 46.0}
{'_id': 4512, 'avg_max_salary': 46.0}
{'_id': 4564, 'avg_max_salary': 46.0}
{'_id': 4519, 'avg_max_salary': 45.0}
{'_id': 4522, 'avg_max_salary': 44.77}
{'_id': 4502, 'avg_max_salary': 44.55}
{'_id': 7156, 'avg_max_salary': 43.79}
{'_id': 1414, 'avg_max_salary': 40.0}
{'_id': 1429, 'avg_max_salary': 39.58}
{'_id': 4530, 'avg_max_salary': 38.0}
{'_id': 4556, 'avg_max_salary': 38.0}
{'_id': 6632, 'avg_max_salary': 36.57}
{'_id': 6629, 'avg_max_salary': 36.3}
{'_id': 6624, 'avg_max_salary': 36.06}
{'_id': 7161, 'avg_max_salary': 35.0}
{'_id': 6652, 'avg_max_salary': 35.0}
{'_id': 1418, 'avg_max_salary': 33.88}
{'_id': 7145, 'avg_max_salary': 33.0}
{'_id': 1411, 'avg_max_salary': 33.0}
{'_id': 6651, 'avg_max_salary': 32.0}
{'_id': 1424, 'avg_max_salary': 31.0}
{'_id': 6610, 'avg_max_salary': 30.54}
{'_id': 6659, 'avg_max_salary': 30.54}
{'_id': 4548, 'avg_max_salary': 30.0}
{'_id': 4551, 'avg_max_salary': 30.0}
{'_id': 1428, 'avg_max_salary': 30.0}
{'_id': 7149, 'avg_max_salary': 29.52}
{'_id': 6619, 'avg_max_salary': 28.8}
{'_id': 6639, 'avg_max_salary': 28.0}
{'_id': 4532, 'avg_max_salary': 28.0}
{'_id': 7171, 'avg_max_salary': 27.69}
{'_id': 6633, 'avg_max_salary': 27.67}
{'_id': 1423, 'avg_max_salary': 27.0}
{'_id': 1395, 'avg_max_salary': 27.0}
{'_id': 1413, 'avg_max_salary': 26.9}
{'_id': 4503, 'avg_max_salary': 25.63}
{'_id': 4538, 'avg_max_salary': 25.63}
{'_id': 4590, 'avg_max_salary': 25.63}
{'_id': 1437, 'avg_max_salary': 25.6}
{'_id': 6638, 'avg_max_salary': 25.43}
{'_id': 4574, 'avg_max_salary': 25.0}
{'_id': 7151, 'avg_max_salary': 24.31}
{'_id': 6648, 'avg_max_salary': 24.0}
{'_id': 4552, 'avg_max_salary': 24.0}
{'_id': 7138, 'avg_max_salary': 23.72}
{'_id': 7140, 'avg_max_salary': 23.72}
{'_id': 6636, 'avg_max_salary': 23.63}
{'_id': 7142, 'avg_max_salary': 23.29}
{'_id': 6611, 'avg_max_salary': 23.25}
{'_id': 6615, 'avg_max_salary': 23.0}
{'_id': 6631, 'avg_max_salary': 22.56}
{'_id': 7172, 'avg_max_salary': 22.5}
{'_id': 6618, 'avg_max_salary': 22.1}
{'_id': 1431, 'avg_max_salary': 22.0}
{'_id': 7139, 'avg_max_salary': 21.72}
{'_id': 1417, 'avg_max_salary': 21.64}
{'_id': 4595, 'avg_max_salary': 21.5}
{'_id': 6644, 'avg_max_salary': 21.0}
{'_id': 1410, 'avg_max_salary': 20.46}
{'_id': 1400, 'avg_max_salary': 20.0}
{'_id': 6621, 'avg_max_salary': 19.0}
{'_id': 4553, 'avg_max_salary': 19.0}
{'_id': 6614, 'avg_max_salary': 18.5}
{'_id': 6656, 'avg_max_salary': 18.5}
{'_id': 7164, 'avg_max_salary': 16.88}
{'_id': 4543, 'avg_max_salary': 16.5}
{'_id': 4596, 'avg_max_salary': 16.5}
{'_id': 4584, 'avg_max_salary': 16.5}
{'_id': 4533, 'avg_max_salary': 16.5}
{'_id': 4525, 'avg_max_salary': 16.5}
{'_id': 4507, 'avg_max_salary': 12.0}
{'_id': 4535, 'avg_max_salary': 12.0}
{'_id': 7136, 'avg_max_salary': 11.5}
{'_id': 7135, 'avg_max_salary': 0.0}
{'_id': 4541, 'avg_max_salary': 0.0}
{'_id': 7150, 'avg_max_salary': 0.0}
{'_id': 4506, 'avg_max_salary': 0.0}
{'_id': 7148, 'avg_max_salary': 0.0}
{'_id': 4542, 'avg_max_salary': 0.0}
{'_id': 4518, 'avg_max_salary': 0.0}
{'_id': 6634, 'avg_max_salary': 0.0}
{'_id': 6653, 'avg_max_salary': 0.0}
{'_id': 4534, 'avg_max_salary': 0.0}
{'_id': 6641, 'avg_max_salary': 0.0}
{'_id': 6630, 'avg_max_salary': 0.0}
{'_id': 4563, 'avg_max_salary': 0.0}
{'_id': 4510, 'avg_max_salary': 0.0}
{'_id': 6620, 'avg_max_salary': 0.0}
{'_id': 6609, 'avg_max_salary': 0.0}
{'_id': 4587, 'avg_max_salary': 0.0}
{'_id': 6649, 'avg_max_salary': 0.0}
{'_id': 7169, 'avg_max_salary': 0.0}
{'_id': 7143, 'avg_max_salary': 0.0}
{'_id': 1433, 'avg_max_salary': 0.0}
{'_id': 4559, 'avg_max_salary': 0.0}
{'_id': 7152, 'avg_max_salary': 0.0}
{'_id': 4544, 'avg_max_salary': 0.0}
{'_id': 7153, 'avg_max_salary': 0.0}
{'_id': 7168, 'avg_max_salary': 0.0}
{'_id': 7160, 'avg_max_salary': 0.0}
{'_id': 4579, 'avg_max_salary': 0.0}
{'_id': 4580, 'avg_max_salary': 0.0}
{'_id': 4586, 'avg_max_salary': 0.0}
{'_id': 7158, 'avg_max_salary': 0.0}
{'_id': 7173, 'avg_max_salary': 0.0}
{'_id': 4508, 'avg_max_salary': 0.0}
{'_id': 6622, 'avg_max_salary': 0.0}
{'_id': 4592, 'avg_max_salary': 0.0}
{'_id': 1409, 'avg_max_salary': 0.0}
{'_id': 7155, 'avg_max_salary': 0.0}
{'_id': 7144, 'avg_max_salary': 0.0}
{'_id': 4515, 'avg_max_salary': 0.0}
{'_id': 4585, 'avg_max_salary': 0.0}
{'_id': 7167, 'avg_max_salary': 0.0}
{'_id': 4593, 'avg_max_salary': 0.0}
Length of the result for 3a-1 :  259
Mongo Execution time: 1.9699649810791016

#### Explained query

In [10]:
sql_query_explain(sql_query1)

(1, 'SIMPLE', 'salaries', None, 'index', 'PRIMARY,job_id', 'PRIMARY', '8', None, 259, 100.0, 'Using temporary; Using filesort')

In [11]:
#mongo_query_explain(mongo_query1,salaries_collection)

#### Average time

In [12]:
sql_query_avg_time(sql_query1,x,name)

No optimization:  avg total time SQL-Query 3a-1  =  0.0018000602722167969

In [13]:
mongo_query_avg_time(mongo_query1,salaries_collection,x,name)

No optimization:  avg total time Mongo-Query 3a-1  =  0.010264849662780762

## Query 3a - 2

Esta consulta utiliza uma expressão de tabela comum e a função de janela ROW_NUMBER() para classificar as empresas com base no número de ofertas de emprego em cada localização. O resultado final inclui apenas as empresas com o maior número de ofertas de emprego em cada local.

In [14]:
name = "3a-2"
sql_query2 = ("WITH ranked_postings AS ("
                     "SELECT company_id, location, ROW_NUMBER() OVER (PARTITION BY location ORDER BY COUNT(*) DESC) AS posting_rank "
                     "FROM job_postings GROUP BY company_id, location)"
                     "SELECT company_id, location FROM ranked_postings WHERE posting_rank = 1;")


mongo_query2 = [
    {"$group": {"_id": {"company_id": "$company_id", "location": "$location"},
                "count": {"$sum": 1}
                }
     },
    {"$sort": {"_id.location": 1, "count": -1}},
    {"$group": {"_id": "$_id.location",
                "topCompany": {"$first": "$_id.company_id"}}
     },
    {"$project": {"_id": 0, "company_id": "$topCompany", "location": "$_id"}}
]

#### Result:

In [ ]:
sql_query_result(sql_query2, name)

In [ ]:
mongo_query_result(mongo_query2,jobs_collection,name)

#### Explained query

In [2]:
sql_query_explain(sql_query2)


sql_query2_index_query = "CREATE INDEX idx_company_location ON job_postings (company_id, location)"
sql_query_result(sql_query2_index_query, name)

sql_query_explain(sql_query2)

NameError: name 'sql_query_explain' is not defined

In [ ]:
#mongo_query_explain(mongo_query2,jobs_collection)

#### Average time

In [ ]:
sql_query_avg_time(sql_query2,x,name)

No optimization:  avg total time SQL-Query 3a-2  =  0.29535412788391113

In [ ]:
mongo_query_avg_time(mongo_query2,jobs_collection,x,name)

No optimization:  avg total time Mongo-Query 3a-2  =  0.06385385990142822

## Query 3b - 1

Esta consulta recupera informações sobre empresas, incluindo o seu ID, nome, número de empregados e o número de ofertas de emprego em que o título contém "er". Também filtra as empresas com mais de 5 ofertas de emprego e ordena os resultados pela contagem de ofertas por ordem decrescente. A utilização de LEFT JOINs garante que as empresas sem entradas correspondentes nas tabelas benefits ou employee_counts continuam a ser incluídas nos resultados.

In [ ]:
name ="3b-1"

sql_query3 = ("SELECT c.company_id, c.name as company_name, ec.employee_count, COUNT(*) as job_count "
                     "FROM job_postings jp "
                     "LEFT JOIN companies c ON jp.company_id = c.company_id "
                     "LEFT JOIN benefits b ON jp.job_id = b.job_id "
                     "LEFT JOIN employee_counts ec ON c.company_id = ec.company_id "
                     "WHERE jp.title LIKE '%er' GROUP BY c.company_id, c.name, ec.employee_count "
                     "HAVING job_count > 5 ORDER BY job_count DESC;")

mongo_query3 = [
    {"$match": {'title': {'$regex': 'er$'}}},
    {'$lookup': {'from': "companies",
                 'localField': "company_id",
                 'foreignField': "company_id",
                 'as': "company"}},
    {'$unwind': "$company"},
    {'$lookup': {'from': "benefits",
                 'localField': "job_id",
                 'foreignField': "job_id",
                 'as': "benefits"}},
    {'$lookup': {'from': "employee_counts",
                 'localField': "company.company_id",
                 'foreignField': "company_id",
                 'as': "employee_counts"}},
    {'$group': {'_id': {'company_id': "$company.company_id",
                        'company_name': "$company.name",
                        'employee_count': {'$ifNull': ["$employee_counts.employee_count", 0]}
                        },
                'job_count': {'$sum': 1}}},
    {'$match': {'job_count': {'$gt': 5}}},
    {'$sort': {'job_count': -1}},
    {'$project': {'_id': 0,
                  'company_id': "$_id.company_id",
                  'company_name': "$_id.company_name",
                  'employee_count': "$_id.employee_count",
                  'job_count': "$job_count"}}
]

#### Result:

In [ ]:
sql_query_result(sql_query3,name)

(163139, 'Cogent Communications', 2258, 60)
(163139, 'Cogent Communications', 2255, 60)
(163139, 'Cogent Communications', 2250, 60)
(10420321, 'The Mom Project', 897, 43)
(10420321, 'The Mom Project', 902, 43)
(11056, 'Insight Global', 13096, 33)
(11056, 'Insight Global', 13698, 33)
(11056, 'Insight Global', 13787, 33)
(11056, 'Insight Global', 13801, 33)
(11056, 'Insight Global', 13804, 33)
(18860134, 'Jobot', 2148, 31)
(18860134, 'Jobot', 2781, 31)
(18860134, 'Jobot', 2783, 31)
(18860134, 'Jobot', 2774, 31)
(49042, 'Five Star Senior Living', 2882, 26)
(49042, 'Five Star Senior Living', 2905, 26)
(49042, 'Five Star Senior Living', 2904, 26)
(7795, 'Petco', 15497, 25)
(7795, 'Petco', 15848, 25)
(7795, 'Petco', 15841, 25)
(1403, 'Booz Allen Hamilton', 38277, 24)
(1403, 'Booz Allen Hamilton', 35963, 24)
(1403, 'Booz Allen Hamilton', 35961, 24)
(1403, 'Booz Allen Hamilton', 35400, 24)
(77301, "Raising Cane's Chicken Fingers", 10158, 24)
(77301, "Raising Cane's Chicken Fingers", 10861, 24)
(77301, "Raising Cane's Chicken Fingers", 10863, 24)
(1681, 'Robert Half', 32197, 23)
(1681, 'Robert Half', 32147, 23)
(1681, 'Robert Half', 29381, 23)
(1681, 'Robert Half', 29389, 23)
(1681, 'Robert Half', 29388, 23)
(1681, 'Robert Half', 29372, 23)
(1103, 'Verizon', 95609, 23)
(1103, 'Verizon', 92691, 23)
(1103, 'Verizon', 92690, 23)
(1103, 'Verizon', 92240, 23)
(1344, 'Honeywell', 127293, 23)
(1344, 'Honeywell', 128397, 23)
(1344, 'Honeywell', 128388, 23)
(1344, 'Honeywell', 127620, 23)
(71904349, 'Actalent', 5857, 22)
(71904349, 'Actalent', 5853, 22)
(601919, 'Genesys', 7397, 20)
(601919, 'Genesys', 7486, 20)
(25856, 'Tradesmen International', 4968, 18)
(25856, 'Tradesmen International', 5043, 18)
(25856, 'Tradesmen International', 5042, 18)
(25856, 'Tradesmen International', 5044, 18)
(64666, 'Ombudsman Educational Services', 333, 15)
(64666, 'Ombudsman Educational Services', 331, 15)
(72483, 'Aimbridge Hospitality', 7529, 15)
(72483, 'Aimbridge Hospitality', 7624, 15)
(72483, 'Aimbridge Hospitality', 7626, 15)
(72483, 'Aimbridge Hospitality', 7628, 15)
(2396310, 'Randstad USA', 8074, 15)
(2396310, 'Randstad USA', 8089, 15)
(4060, 'Cushman & Wakefield', 40637, 14)
(4060, 'Cushman & Wakefield', 40700, 14)
(4060, 'Cushman & Wakefield', 40688, 14)
(1557409, 'Crown Castle', 5635, 14)
(1557409, 'Crown Castle', 5541, 14)
(3240, 'Farmers Insurance', 53065, 14)
(3240, 'Farmers Insurance', 53116, 14)
(3240, 'Farmers Insurance', 53102, 14)
(18312164, 'Bravado', 184, 13)
(18312164, 'Bravado', 189, 13)
(18312164, 'Bravado', 192, 13)
(65294553, 'Brightpath Associates LLC', 59, 13)
(65294553, 'Brightpath Associates LLC', 61, 13)
(65294553, 'Brightpath Associates LLC', 70, 13)
(65294553, 'Brightpath Associates LLC', 69, 13)
(9814, 'Eastridge Workforce Solutions', 950, 12)
(5235, 'LHH', 12457, 11)
(5235, 'LHH', 12904, 11)
(5235, 'LHH', 13020, 11)
(5235, 'LHH', 13014, 11)
(5235, 'LHH', 12986, 11)
(7587370, 'GrayWolf', 134, 11)
(20009, 'Bimbo Bakeries USA', 9406, 11)
(20009, 'Bimbo Bakeries USA', 9537, 11)
(20009, 'Bimbo Bakeries USA', 9541, 11)
(20009, 'Bimbo Bakeries USA', 9540, 11)
(162724, 'Blackbaud', 3473, 10)
(73013724, 'J. Galt', 251, 10)
(73013724, 'J. Galt', 363, 10)
(73013724, 'J. Galt', 358, 10)
(1939425, 'Midwest Holding Inc.', 80, 9)
(157237, 'Newell Brands', 12746, 9)
(157237, 'Newell Brands', 12747, 9)
(157237, 'Newell Brands', 12902, 9)
(307886, 'Canadian Solar Inc.', 1696, 9)
(26923, 'Holiday Stationstores', 1054, 9)
(26923, 'Holiday Stationstores', 1084, 9)
(26923, 'Holiday Stationstores', 1085, 9)
(12890, "Cabela's", 6957, 9)
(12890, "Cabela's", 7020, 9)
(12890, "Cabela's", 7010, 9)
(17246, 'Relevante, Inc.', 165, 9)
(17246, 'Relevante, Inc.', 173, 9)
(163253, 'Creative Circle', 1857, 9)
(163253, 'Creative Circle', 1866, 9)
(163253, 'Creative Circle', 1863, 9)
(167757, 'The Job Network', 73, 9)
(167757, 'The Job Network', 74, 9)
(18043, 'Addison Group', 1955, 8)
(18043, 'Addison Group', 1950, 8)
(18043, 'Addison Group', 1911, 8)
(18043, 'Addison Group', 1907, 8)
(1505, 'Raytheon', 43440, 8)
(1505, 'Raytheon', 44251, 8)
(1505, 'Raytheon', 44249, 8)
(1505, 'Raytheon', 44244, 8)
(1505, 'Raytheon', 44247, 8)
(3690, 'Micron Technology', 26043, 8)
(3690, 'Micron Technology', 26044, 8)
(1511, 'Mondelēz International', 39265, 8)
(1511, 'Mondelēz International', 39920, 8)
(1511, 'Mondelēz International', 39914, 8)
(11204, 'Hill International, Inc.', 5465, 8)
(2193256, 'GFL Environmental Inc.', 5366, 8)
(2193256, 'GFL Environmental Inc.', 5579, 8)
(2193256, 'GFL Environmental Inc.', 5582, 8)
(1463, 'ADP', 83579, 8)
(1463, 'ADP', 92657, 8)
(1463, 'ADP', 92645, 8)
(2121817, 'DSJ Global', 343, 8)
(2121817, 'DSJ Global', 349, 8)
(2121817, 'DSJ Global', 383, 8)
(76171420, 'Hitachi Energy', 20416, 8)
(76171420, 'Hitachi Energy', 21428, 8)
(73024, 'Billingsley Company', 239, 8)
(7929696, 'Flynn Group', 1246, 8)
(2973906, 'Leidos', 32014, 8)
(2973906, 'Leidos', 31816, 8)
(9185, 'Advance Auto Parts', 19759, 8)
(9185, 'Advance Auto Parts', 20244, 8)
(9185, 'Advance Auto Parts', 20242, 8)
(79383535, 'Akkodis', 21144, 7)
(79383535, 'Akkodis', 21147, 7)
(79383535, 'Akkodis', 21618, 7)
(79383535, 'Akkodis', 21617, 7)
(86694680, 'Ascendion', 1954, 7)
(86694680, 'Ascendion', 2102, 7)
(86694680, 'Ascendion', 2104, 7)
(5343, 'Sysco', 26619, 7)
(5343, 'Sysco', 26634, 7)
(5343, 'Sysco', 26979, 7)
(5343, 'Sysco', 26987, 7)
(15762, 'Page Southerland Page, Inc.', 1721, 7)
(15762, 'Page Southerland Page, Inc.', 1755, 7)
(15762, 'Page Southerland Page, Inc.', 1754, 7)
(7032, 'Ross Stores, Inc.', 29845, 7)
(7032, 'Ross Stores, Inc.', 29859, 7)
(7032, 'Ross Stores, Inc.', 30790, 7)
(7032, 'Ross Stores, Inc.', 30789, 7)
(7032, 'Ross Stores, Inc.', 30778, 7)
(218019, 'Great Hearts Academies', 1182, 6)
(784586, 'Improve Group', 67, 6)
(8117, 'The Judge Group', 2309, 6)
(8117, 'The Judge Group', 2296, 6)
(8117, 'The Judge Group', 2292, 6)
(8117, 'The Judge Group', 2286, 6)
(641035, 'Sun West Mortgage Company, Inc.', 645, 6)
(641035, 'Sun West Mortgage Company, Inc.', 649, 6)
(149485, 'WBE (W. Bradley Electric)', 176, 6)
(2562, 'Dow', 43847, 6)
(2562, 'Dow', 43989, 6)
(5352294, 'Raas Infotek', 186, 6)
(5352294, 'Raas Infotek', 185, 6)
(163883, 'Four Seasons Hotels and Resorts', 30545, 6)
(163883, 'Four Seasons Hotels and Resorts', 31195, 6)
(163883, 'Four Seasons Hotels and Resorts', 31207, 6)
(163883, 'Four Seasons Hotels and Resorts', 31206, 6)
(4822178, 'FactoryFix', 87, 6)
(4822178, 'FactoryFix', 95, 6)
(4822178, 'FactoryFix', 94, 6)
(493453, 'The Scion Group', 822, 6)
(493453, 'The Scion Group', 832, 6)
(493453, 'The Scion Group', 833, 6)
(26873, 'El Pollo Loco, Inc.', 2626, 6)
(4167, 'PNC', 66604, 6)
(4167, 'PNC', 66609, 6)
(4167, 'PNC', 66942, 6)
(4167, 'PNC', 66940, 6)
(2247, 'Johnson Controls', 65962, 6)
(2247, 'Johnson Controls', 65982, 6)
(2247, 'Johnson Controls', 65981, 6)
(2247, 'Johnson Controls', 65702, 6)
(6765, 'Perkins Coie LLP', 2909, 6)
(154713, 'OptionMetrics', 51, 6)
(88289095, 'Magnit', 2353, 6)
(88289095, 'Magnit', 2562, 6)
(88289095, 'Magnit', 2570, 6)
(88289095, 'Magnit', 2567, 6)
(2615835, 'Piper Companies', 187, 6)
(1025, 'Hewlett Packard Enterprise', 70995, 6)
(1025, 'Hewlett Packard Enterprise', 72453, 6)
(1025, 'Hewlett Packard Enterprise', 72445, 6)
(1025, 'Hewlett Packard Enterprise', 71428, 6)
(777243, 'Ascendo Resources', 357, 6)
(777243, 'Ascendo Resources', 329, 6)
(1943848, 'Healthcare Services Group, Inc', 4159, 6)
(1943848, 'Healthcare Services Group, Inc', 4160, 6)
Length of the result for 3b-1 :  204
SQL Execution time: 0.05601239204406738

In [ ]:
mongo_query_result(mongo_query3,jobs_collection,name)

{'company_id': 163139, 'company_name': 'Cogent Communications', 'employee_count': [2258, 2255, 2250], 'job_count': 59}
{'company_id': 10420321, 'company_name': 'The Mom Project', 'employee_count': [897, 902], 'job_count': 35}
{'company_id': 11056, 'company_name': 'Insight Global', 'employee_count': [13096, 13698, 13787, 13801, 13804], 'job_count': 30}
{'company_id': 18860134, 'company_name': 'Jobot', 'employee_count': [2148, 2781, 2783, 2774], 'job_count': 27}
{'company_id': 49042, 'company_name': 'Five Star Senior Living', 'employee_count': [2882, 2905, 2904], 'job_count': 26}
{'company_id': 7795, 'company_name': 'Petco', 'employee_count': [15497, 15848, 15841], 'job_count': 25}
{'company_id': 77301, 'company_name': "Raising Cane's Chicken Fingers", 'employee_count': [10158, 10861, 10863], 'job_count': 24}
{'company_id': 1344, 'company_name': 'Honeywell', 'employee_count': [127293, 128397, 128388, 127620], 'job_count': 23}
{'company_id': 1103, 'company_name': 'Verizon', 'employee_count': [95609, 92691, 92690, 92240], 'job_count': 23}
{'company_id': 71904349, 'company_name': 'Actalent', 'employee_count': [5857, 5853], 'job_count': 22}
{'company_id': 1403, 'company_name': 'Booz Allen Hamilton', 'employee_count': [38277, 35963, 35961, 35400], 'job_count': 20}
{'company_id': 72483, 'company_name': 'Aimbridge Hospitality', 'employee_count': [7529, 7624, 7626, 7628], 'job_count': 15}
{'company_id': 25856, 'company_name': 'Tradesmen International', 'employee_count': [4968, 5043, 5042, 5044], 'job_count': 14}
{'company_id': 2396310, 'company_name': 'Randstad USA', 'employee_count': [8074, 8089], 'job_count': 14}
{'company_id': 1557409, 'company_name': 'Crown Castle', 'employee_count': [5635, 5541], 'job_count': 14}
{'company_id': 4060, 'company_name': 'Cushman & Wakefield', 'employee_count': [40637, 40700, 40688], 'job_count': 14}
{'company_id': 1681, 'company_name': 'Robert Half', 'employee_count': [32197, 32147, 29381, 29389, 29388, 29372], 'job_count': 14}
{'company_id': 601919, 'company_name': 'Genesys', 'employee_count': [7397, 7486], 'job_count': 14}
{'company_id': 65294553, 'company_name': 'Brightpath Associates LLC', 'employee_count': [59, 61, 70, 69], 'job_count': 13}
{'company_id': 18312164, 'company_name': 'Bravado', 'employee_count': [184, 189, 192], 'job_count': 13}
{'company_id': 3240, 'company_name': 'Farmers Insurance', 'employee_count': [53065, 53116, 53102], 'job_count': 12}
{'company_id': 5235, 'company_name': 'LHH', 'employee_count': [12457, 12904, 13020, 13014, 12986], 'job_count': 11}
{'company_id': 7587370, 'company_name': 'GrayWolf', 'employee_count': [134], 'job_count': 11}
{'company_id': 20009, 'company_name': 'Bimbo Bakeries USA', 'employee_count': [9406, 9537, 9541, 9540], 'job_count': 11}
{'company_id': 73013724, 'company_name': 'J. Galt', 'employee_count': [251, 363, 358], 'job_count': 10}
{'company_id': 12890, 'company_name': "Cabela's", 'employee_count': [6957, 7020, 7010], 'job_count': 9}
{'company_id': 163253, 'company_name': 'Creative Circle', 'employee_count': [1857, 1866, 1863], 'job_count': 9}
{'company_id': 162724, 'company_name': 'Blackbaud', 'employee_count': [3473], 'job_count': 9}
{'company_id': 9814, 'company_name': 'Eastridge Workforce Solutions', 'employee_count': [950], 'job_count': 9}
{'company_id': 26923, 'company_name': 'Holiday Stationstores', 'employee_count': [1054, 1084, 1085], 'job_count': 9}
{'company_id': 167757, 'company_name': 'The Job Network', 'employee_count': [73, 74], 'job_count': 9}
{'company_id': 1463, 'company_name': 'ADP', 'employee_count': [83579, 92657, 92645], 'job_count': 8}
{'company_id': 9185, 'company_name': 'Advance Auto Parts', 'employee_count': [19759, 20244, 20242], 'job_count': 8}
{'company_id': 3690, 'company_name': 'Micron Technology', 'employee_count': [26043, 26044], 'job_count': 8}
{'company_id': 2193256, 'company_name': 'GFL Environmental Inc.', 'employee_count': [5366, 5579, 5582], 'job_count': 8}
{'company_id': 1511, 'company_name': 'Mondelēz International', 'employee_count': [39265, 39920, 39914], 'job_count': 8}
{'company_id': 7929696, 'company_name': 'Flynn Group', 'employee_count': [1246], 'job_count': 8}
{'company_id': 76171420, 'company_name': 'Hitachi Energy', 'employee_count': [20416, 21428], 'job_count': 8}
{'company_id': 2973906, 'company_name': 'Leidos', 'employee_count': [32014, 31816], 'job_count': 8}
{'company_id': 1505, 'company_name': 'Raytheon', 'employee_count': [43440, 44251, 44249, 44244, 44247], 'job_count': 8}
{'company_id': 5343, 'company_name': 'Sysco', 'employee_count': [26619, 26634, 26979, 26987], 'job_count': 7}
{'company_id': 79383535, 'company_name': 'Akkodis', 'employee_count': [21144, 21147, 21618, 21617], 'job_count': 7}
{'company_id': 7032, 'company_name': 'Ross Stores, Inc.', 'employee_count': [29845, 29859, 30790, 30789, 30778], 'job_count': 7}
{'company_id': 15762, 'company_name': 'Page Southerland Page, Inc.', 'employee_count': [1721, 1755, 1754], 'job_count': 7}
{'company_id': 18043, 'company_name': 'Addison Group', 'employee_count': [1955, 1950, 1911, 1907], 'job_count': 7}
{'company_id': 1025, 'company_name': 'Hewlett Packard Enterprise', 'employee_count': [70995, 72453, 72445, 71428], 'job_count': 6}
{'company_id': 2562, 'company_name': 'Dow', 'employee_count': [43847, 43989], 'job_count': 6}
{'company_id': 1943848, 'company_name': 'Healthcare Services Group, Inc', 'employee_count': [4159, 4160], 'job_count': 6}
{'company_id': 163883, 'company_name': 'Four Seasons Hotels and Resorts', 'employee_count': [30545, 31195, 31207, 31206], 'job_count': 6}
{'company_id': 6765, 'company_name': 'Perkins Coie LLP', 'employee_count': [2909], 'job_count': 6}
{'company_id': 8117, 'company_name': 'The Judge Group', 'employee_count': [2309, 2296, 2292, 2286], 'job_count': 6}
{'company_id': 26873, 'company_name': 'El Pollo Loco, Inc.', 'employee_count': [2626], 'job_count': 6}
{'company_id': 2615835, 'company_name': 'Piper Companies', 'employee_count': [187], 'job_count': 6}
{'company_id': 2247, 'company_name': 'Johnson Controls', 'employee_count': [65962, 65982, 65981, 65702], 'job_count': 6}
{'company_id': 777243, 'company_name': 'Ascendo Resources', 'employee_count': [357, 329], 'job_count': 6}
{'company_id': 4822178, 'company_name': 'FactoryFix', 'employee_count': [87, 95, 94], 'job_count': 6}
{'company_id': 4167, 'company_name': 'PNC', 'employee_count': [66604, 66609, 66942, 66940], 'job_count': 6}
{'company_id': 5352294, 'company_name': 'Raas Infotek', 'employee_count': [186, 185], 'job_count': 6}
Length of the result for 3b-1 :  58
Mongo Execution time: 42.679121017456055

#### Explained query

In [ ]:
sql_query_explain(sql_query3)

(1, 'SIMPLE', 'jp', None, 'ALL', None, None, None, None, 17047, 11.11, 'Using where; Using temporary; Using filesort')
(1, 'SIMPLE', 'c', None, 'eq_ref', 'PRIMARY', 'PRIMARY', '8', 'mysql.jp.company_id', 1, 100.0, None)
(1, 'SIMPLE', 'b', None, 'ref', 'job_id', 'job_id', '9', 'mysql.jp.job_id', 2, 100.0, 'Using index')
(1, 'SIMPLE', 'ec', None, 'ref', 'company_id', 'company_id', '9', 'mysql.c.company_id', 1, 100.0, None)

In [ ]:
mongo_query_explain(mongo_query3,jobs_collection)

KeyboardInterrupt:

#### Average time

In [ ]:
sql_query_avg_time(sql_query3,x,name)

No optimization:  avg total time SQL-Query 3b-1  =  0.13926100730895996

In [ ]:
# WARNING! TAKES A LONG TIME TO COMPUTE 
mongo_query_avg_time(mongo_query3,jobs_collection,x,name)

## Query 3b - 2

Essa consulta calcula os valores médio, mínimo e máximo da coluna max_salary da tabela salaries, considerando apenas as linhas em que os anúncios de emprego correspondentes têm um max_salary maior que 5000. O RIGHT JOIN garante que todas as linhas da tabela job_postings sejam incluídas, e as linhas correspondentes da tabela salaries sejam incluídas com valores NULL se não houver correspondência.

In [ ]:
name = "3b-2"
sql_query4 = ("SELECT avg(jp.max_salary), min(jp.max_salary), max(jp.max_salary) FROM salaries s "
                     "RIGHT JOIN job_postings jp on s.job_id = jp.job_id "
                     "WHERE jp.max_salary > 5000;")

mongo_query4 = [
    {'$lookup': {
            'from': "job_postings",
            'localField': "job_id",
            'foreignField': "job_id",
            'as': "job_posting"
                }
    },
    {'$unwind': "$job_posting"},
    {'$match': { "job_posting.max_salary": { '$gt': 5000 } }},
    {'$group': {
            '_id': None,
            'avg_max_salary': { '$avg': "$max_salary" },
            'min_max_salary': { '$min': "$max_salary" },
            'max_max_salary': { '$max': "$max_salary" }
                }
    }]

#### Result:

In [ ]:
sql_query_result(sql_query4,name)

(135784.2010912389, 5474.0, 1100000.0)
Length of the result for 3b-2 :  1
Execution time: 0.038593292236328125

In [ ]:
#mongo_query_result(mongo_query4,salaries_collection,name)

NameError: name 'mongo_query_result' is not defined

#### Explained query

In [ ]:
sql_query_explain(sql_query4)

(1, 'SIMPLE', 'jp', None, 'ALL', None, None, None, None, 15830, 33.33, 'Using where')
(1, 'SIMPLE', 's', None, 'ref', 'job_id', 'job_id', '9', 'mysql.jp.job_id', 1, 100.0, 'Using index')

In [ ]:
mongo_query_explain(mongo_query4,salaries_collection)

#### Average time

In [ ]:
sql_query_avg_time(sql_query4,x,name)

No optimization:  avg total time SQL-Query 3b-2  =  0.01907923221588135

In [ ]:
mongo_query_avg_time(mongo_query4,salaries_collection,x,name)

In [ ]:
#FOR TESTING !

query_aux = ("SELECT * FROM job_postings jp "
             "LEFT JOIN benefits b ON jp.job_id = b.job_id "
             "WHERE jp.company_id = 10420321 and jp.title LIKE '%er' ")

sql_query_result(query_aux,"aux")

(3697384953, 10420321, 'Quality Assurance Engineer', 85.29, 0.0, 78.68, 'HOURLY', 'Contract', 'Atlanta, GA', 34, 1690000000000.0, 0, 124, 'https://www.linkedin.com/jobs/view/3697384953/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/quality-assurance-engineer-8f9883d7ca?utm_campaign=quality-assurance-engineer-8f9883d7ca&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', 'USD', 'BASE_SALARY', '1', 3697384953, 1, 'Commuter benefits')
(3697384966, 10420321, 'Clinical Nurse Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Kearny, NJ', 0, 1690000000000.0, 0, 4, 'https://www.linkedin.com/jobs/view/3697384966/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/clinical-nurse-manager-cf4e02a6db?utm_campaign=clinical-nurse-manager-cf4e02a6db&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', None, None, None)
(3697385788, 10420321, 'Client Portfolio Manager', 225000.0, 0.0, 165000.0, 'YEARLY', 'Full-time', 'Newport Beach, CA', 10, 1690000000000.0, 0, 87, 'https://www.linkedin.com/jobs/view/3697385788/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/client-portfolio-manager-010b41ced2?utm_campaign=client-portfolio-manager-010b41ced2&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', 3697385788, 1, '401(k)')
(3697385788, 10420321, 'Client Portfolio Manager', 225000.0, 0.0, 165000.0, 'YEARLY', 'Full-time', 'Newport Beach, CA', 10, 1690000000000.0, 0, 87, 'https://www.linkedin.com/jobs/view/3697385788/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/client-portfolio-manager-010b41ced2?utm_campaign=client-portfolio-manager-010b41ced2&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', 3697385788, 1, 'Vision insurance')
(3697385788, 10420321, 'Client Portfolio Manager', 225000.0, 0.0, 165000.0, 'YEARLY', 'Full-time', 'Newport Beach, CA', 10, 1690000000000.0, 0, 87, 'https://www.linkedin.com/jobs/view/3697385788/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/client-portfolio-manager-010b41ced2?utm_campaign=client-portfolio-manager-010b41ced2&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', 3697385788, 1, 'Disability insurance')
(3697385972, 10420321, 'Audit Manager', 120000.0, 0.0, 90000.0, 'YEARLY', 'Full-time', 'Crystal Lake, IL', 0, 1690000000000.0, 0, 9, 'https://www.linkedin.com/jobs/view/3697385972/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/audit-manager-35741424a9?utm_campaign=audit-manager-35741424a9&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', 3697385972, 1, 'Medical insurance')
(3697385972, 10420321, 'Audit Manager', 120000.0, 0.0, 90000.0, 'YEARLY', 'Full-time', 'Crystal Lake, IL', 0, 1690000000000.0, 0, 9, 'https://www.linkedin.com/jobs/view/3697385972/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/audit-manager-35741424a9?utm_campaign=audit-manager-35741424a9&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', 3697385972, 1, '401(k)')
(3697387896, 10420321, 'Tax Reviewer', 180000.0, 0.0, 145000.0, 'YEARLY', 'Full-time', 'Lincoln Park, NJ', 0, 1690000000000.0, 0, 3, 'https://www.linkedin.com/jobs/view/3697387896/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/tax-reviewer-a47b6f1d87?utm_campaign=tax-reviewer-a47b6f1d87&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697387908, 10420321, 'Bookkeeper', 62500.0, 0.0, 50000.0, 'YEARLY', 'Full-time', 'Elmwood Park, IL', 0, 1690000000000.0, 0, 11, 'https://www.linkedin.com/jobs/view/3697387908/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/bookkeeper-8c93a8ef4f?utm_campaign=bookkeeper-8c93a8ef4f&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697388491, 10420321, 'Attorney Member', 0.0, 80000.0, 0.0, 'YEARLY', 'Full-time', 'Santa Monica, CA', 0, 1690000000000.0, 0, 17, 'https://www.linkedin.com/jobs/view/3697388491/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/attorney-member-745ae3fa07?utm_campaign=attorney-member-745ae3fa07&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697388511, 10420321, 'Client Portfolio Manager', 225000.0, 0.0, 165000.0, 'YEARLY', 'Full-time', 'Los Angeles, CA', 6, 1690000000000.0, 0, 60, 'https://www.linkedin.com/jobs/view/3697388511/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/client-portfolio-manager-010b41ced2?utm_campaign=client-portfolio-manager-010b41ced2&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697388698, 10420321, 'Sales and Admissions Manager', 0.0, 0.0, 0.0, '0', 'Full-time', 'New York, NY', 2, 1690000000000.0, 0, 16, 'https://www.linkedin.com/jobs/view/3697388698/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/sales-and-admissions-7e128d0bdd?utm_campaign=sales-and-admissions-7e128d0bdd&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', '0', '0', '1', None, None, None)
(3697389618, 10420321, 'Sales and Admissions Manager', 0.0, 0.0, 0.0, '0', 'Full-time', 'Hoboken, NJ', 0, 1690000000000.0, 0, 11, 'https://www.linkedin.com/jobs/view/3697389618/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/sales-and-admissions-7e128d0bdd?utm_campaign=sales-and-admissions-7e128d0bdd&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', '0', '0', '1', 3697389618, 1, '401(k)')
(3697389618, 10420321, 'Sales and Admissions Manager', 0.0, 0.0, 0.0, '0', 'Full-time', 'Hoboken, NJ', 0, 1690000000000.0, 0, 11, 'https://www.linkedin.com/jobs/view/3697389618/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/sales-and-admissions-7e128d0bdd?utm_campaign=sales-and-admissions-7e128d0bdd&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', '0', '0', '1', 3697389618, 1, 'Medical insurance')
(3697389793, 10420321, 'CAD Designer', 28.0, 0.0, 23.0, 'HOURLY', 'Full-time', 'Gardena, CA', 4, 1690000000000.0, 0, 16, 'https://www.linkedin.com/jobs/view/3697389793/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/cad-designer-b87158d879?utm_campaign=cad-designer-b87158d879&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697389794, 10420321, 'CAD Designer', 28.0, 0.0, 23.0, 'HOURLY', 'Full-time', 'Lynwood, CA', 1, 1690000000000.0, 0, 10, 'https://www.linkedin.com/jobs/view/3697389794/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/cad-designer-b87158d879?utm_campaign=cad-designer-b87158d879&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697390203, 10420321, 'Digital Assurance & Transparency - Sustainability Trust - Manager', 150000.0, 0.0, 120000.0, 'YEARLY', 'Full-time', 'Cleveland, OH', 0, 1690000000000.0, 0, 1, 'https://www.linkedin.com/jobs/view/3697390203/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/digital-assurance-transparency-sustainability-trust-manager-bbc9c9af10?utm_campaign=digital-assurance-transparency-sustainability-trust-manager-bbc9c9af10&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697390563, 10420321, 'CAD Designer', 28.0, 0.0, 23.0, 'HOURLY', 'Full-time', 'Long Beach, CA', 2, 1690000000000.0, 0, 26, 'https://www.linkedin.com/jobs/view/3697390563/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/cad-designer-b87158d879?utm_campaign=cad-designer-b87158d879&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697390565, 10420321, 'CAD Designer', 28.0, 0.0, 23.0, 'HOURLY', 'Full-time', 'Paramount, CA', 1, 1690000000000.0, 0, 12, 'https://www.linkedin.com/jobs/view/3697390565/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/cad-designer-b87158d879?utm_campaign=cad-designer-b87158d879&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697391027, 10420321, 'Tax Manager', 0.0, 0.0, 0.0, '0', 'Full-time', 'United States', 1, 1690000000000.0, 1, 71, 'https://www.linkedin.com/jobs/view/3697391027/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/tax-manager-84ee3d381e?utm_campaign=tax-manager-84ee3d381e&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'FULL_TIME', '0', '0', '1', None, None, None)
(3697391080, 10420321, 'Communications Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Menlo Park, CA', 7, 1690000000000.0, 0, 67, 'https://www.linkedin.com/jobs/view/3697391080/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/communications-manager-8d3fa78dce?utm_campaign=communications-manager-8d3fa78dce&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'CONTRACT', '0', '0', '1', 3697391080, 1, '401(k)')
(3697391080, 10420321, 'Communications Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Menlo Park, CA', 7, 1690000000000.0, 0, 67, 'https://www.linkedin.com/jobs/view/3697391080/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/communications-manager-8d3fa78dce?utm_campaign=communications-manager-8d3fa78dce&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 1, 'CONTRACT', '0', '0', '1', 3697391080, 1, 'Commuter benefits')
(3697391083, 10420321, 'Communications Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Houston, TX', 5, 1690000000000.0, 0, 66, 'https://www.linkedin.com/jobs/view/3697391083/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/communications-manager-8d3fa78dce?utm_campaign=communications-manager-8d3fa78dce&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', 3697391083, 1, '401(k)')
(3697391083, 10420321, 'Communications Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Houston, TX', 5, 1690000000000.0, 0, 66, 'https://www.linkedin.com/jobs/view/3697391083/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/communications-manager-8d3fa78dce?utm_campaign=communications-manager-8d3fa78dce&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', 3697391083, 1, 'Commuter benefits')
(3697391364, 10420321, 'Bookkeeper', 62500.0, 0.0, 50000.0, 'YEARLY', 'Full-time', 'Chicago, IL', 1, 1690000000000.0, 0, 21, 'https://www.linkedin.com/jobs/view/3697391364/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/bookkeeper-8c93a8ef4f?utm_campaign=bookkeeper-8c93a8ef4f&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697391674, 10420321, 'Marketing Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'San Diego, CA', 6, 1690000000000.0, 0, 54, 'https://www.linkedin.com/jobs/view/3697391674/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/marketing-manager-39e556533c?utm_campaign=marketing-manager-39e556533c&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', 3697391674, 1, '401(k)')
(3697391674, 10420321, 'Marketing Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'San Diego, CA', 6, 1690000000000.0, 0, 54, 'https://www.linkedin.com/jobs/view/3697391674/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/marketing-manager-39e556533c?utm_campaign=marketing-manager-39e556533c&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', 3697391674, 1, 'Commuter benefits')
(3697391675, 10420321, 'Marketing Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Boston, MA', 4, 1690000000000.0, 0, 47, 'https://www.linkedin.com/jobs/view/3697391675/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/marketing-manager-39e556533c?utm_campaign=marketing-manager-39e556533c&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', 3697391675, 1, '401(k)')
(3697391675, 10420321, 'Marketing Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Boston, MA', 4, 1690000000000.0, 0, 47, 'https://www.linkedin.com/jobs/view/3697391675/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/marketing-manager-39e556533c?utm_campaign=marketing-manager-39e556533c&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', 3697391675, 1, 'Commuter benefits')
(3697393082, 10420321, 'Lead Infant/Toddler Teacher', 0.0, 0.0, 0.0, '0', 'Full-time', 'Park Forest, IL', 0, 1690000000000.0, 0, 0, 'https://www.linkedin.com/jobs/view/3697393082/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/lead-infant-toddler-teacher-1a97170a2e?utm_campaign=lead-infant-toddler-teacher-1a97170a2e&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', '0', '0', '1', None, None, None)
(3697393352, 10420321, 'Marketing Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Los Angeles, CA', 8, 1690000000000.0, 0, 60, 'https://www.linkedin.com/jobs/view/3697393352/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/marketing-manager-39e556533c?utm_campaign=marketing-manager-39e556533c&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', None, None, None)
(3697394145, 10420321, 'Digital Assurance & Transparency - Sustainability Trust - Manager', 150000.0, 0.0, 120000.0, 'YEARLY', 'Full-time', 'Seattle, WA', 2, 1690000000000.0, 0, 22, 'https://www.linkedin.com/jobs/view/3697394145/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/digital-assurance-transparency-sustainability-trust-manager-bbc9c9af10?utm_campaign=digital-assurance-transparency-sustainability-trust-manager-bbc9c9af10&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697395087, 10420321, 'Product Marketing Manager', 165000.0, 0.0, 160000.0, 'YEARLY', 'Full-time', 'Schaumburg, IL', 4, 1690000000000.0, 0, 52, 'https://www.linkedin.com/jobs/view/3697395087/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/product-marketing-manager-1b79e1e75c?utm_campaign=product-marketing-manager-1b79e1e75c&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697395117, 10420321, 'Licensing Manager', 89175.0, 0.0, 65000.0, 'YEARLY', 'Full-time', 'New York, NY', 1, 1690000000000.0, 0, 30, 'https://www.linkedin.com/jobs/view/3697395117/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/609f0fca1d?utm_campaign=609f0fca1d&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3697395208, 10420321, 'Marketing Manager', 0.0, 0.0, 0.0, '0', 'Contract', 'Houston, TX', 3, 1690000000000.0, 0, 46, 'https://www.linkedin.com/jobs/view/3697395208/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/marketing-manager-39e556533c?utm_campaign=marketing-manager-39e556533c&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Mid-Senior level', '0', 1690000000000, 'themomproject.com', 0, 'CONTRACT', '0', '0', '1', None, None, None)
(3699082122, 10420321, 'Graphic Designer', 0.0, 30.0, 0.0, 'HOURLY', 'Contract', 'United States', 126, 1690000000000.0, 1, 639, 'https://www.linkedin.com/jobs/view/3699082122/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/email-designer-d36da895da?utm_campaign=email-designer-d36da895da&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 1, 'CONTRACT', 'USD', 'BASE_SALARY', '1', None, None, None)
(3699084088, 10420321, 'Creative Director/Copywriter', 150000.0, 0.0, 140000.0, 'YEARLY', 'Full-time', 'United States', 31, 1690000000000.0, 1, 490, 'https://www.linkedin.com/jobs/view/3699084088/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/creative-director-copywriter-6cd2d91bb8?utm_campaign=creative-director-copywriter-6cd2d91bb8&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Director', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', 'USD', 'BASE_SALARY', '1', None, None, None)
(3699084697, 10420321, 'Sales Manager', 0.0, 0.0, 0.0, '0', 'Full-time', 'Guilford, CT', 0, 1690000000000.0, 0, 1, 'https://www.linkedin.com/jobs/view/3699084697/?trk=jobs_biz_prem_srch', 'https://themomproject.com/projects/sales-manager-sales-associate-2bc6ad3cc5?utm_campaign=sales-manager-sales-associate-2bc6ad3cc5&utm_medium=posting&utm_source=LinkedIn', 'OffsiteApply', 1700000000000, 0, 'Entry level', '0', 1690000000000, 'themomproject.com', 0, 'FULL_TIME', '0', '0', '1', None, None, None)

### UPDATE

Esta consulta atualiza até 10 linhas na tabela benefits, alterando o valor da coluna type de 'Medical insurance' para 'test'. O LIMIT 10 garante que apenas um máximo de 10 linhas sejam atualizadas, mesmo que haja mais linhas que satisfaçam a condição.

In [ ]:
sql_update = "UPDATE benefits SET type = 'test' WHERE type = 'Medical insurance' LIMIT 10;"
time_i = time.time()
mycursor.execute(sql_update)
resu = mycursor.fetchall()
time_f = time.time()

print("SQL Update time:", (time_f-time_i))

time_i = time.time()
mongo_update = db.benefits.updateMany({ type: 'Medical insurance' },
                                       {'$set': { type: 'test' } })
time_f = time.time()

print("Mongo Update time:", (time_f-time_i))

### INSERTION

In [ ]:
sql_insertion = ("INSERT INTO companies(company_id, name, description, company_size, state, country, city, zip_code, address, url) "
                 "VALUES (1, 'Empresas Empresas', 'Fazemos tudo e mais alguma coisa', 15, 'CA', 'USA', 'Los Angeles', '2625-136', 'Rua 29 de Fevereiro', 'https://www.example.com');")

mongo_insertion = db.companies.insertOne({
    'company_id': 1,
    'name': 'Empresas Empresas',
    'description': 'Fazemos tudo e mais alguma coisa',
    'company_size': 15,
    'state': 'CA',
    'country': 'USA',
    'city': 'Los Angeles',
    'zip_code': '2625-136',
    'address': 'Rua 29 de Fevereiro',
    'url': 'https://www.example.com'
})