# Testing performance of queries

In [78]:
import mysql.connector
import numpy as np
import pandas as pd
import time
from pymongo import MongoClient
import pprint


mongo_client = MongoClient('mongodb://root:rootpassword@localhost:27017/admin')
db = mongo_client.admin
salaries_collection = db.salaries
jobs_collection = db.job_postings


client = mysql.connector.connect(user='admin', password='admin', host='localhost', port=3306, database='mysql')
mycursor = client.cursor()


x = 10
times = []

In [79]:
def sql_query_result(query,query_name):
    time_i = time.time()
    mycursor.execute(query)
    time_f = time.time()
    myresult1 = mycursor.fetchall()
    for r in myresult1:
        print(r)
    print("Length of the result for",query_name, ": ", myresult1.__len__())
    print("SQL Execution time:", (time_f-time_i))
    
def mongo_query_result(query,collection,query_name):
    time_i = time.time()
    doc = collection.aggregate(query)
    time_f = time.time()
    result = list(doc)
    for row in result:
        print(row)
    print("Length of the result for",query_name, ": ", result.__len__())
    print("Mongo Execution time:", (time_f-time_i))

In [80]:
def sql_query_explain(query):
    explain_query = f"EXPLAIN {query}"
    mycursor.execute(explain_query)
    explanation_result = mycursor.fetchall()
    for row in explanation_result:
        print(row)
        
def mongo_query_explain(query,collection):
    pprint.pprint(collection.aggregate(query).explain())

In [81]:
def sql_query_avg_time(query,num, query_name):
    times = []
    for i in range(num):
        time_i = time.time()
        mycursor.execute(query)
        mycursor.fetchall()
        time_f = time.time()
        times.append(time_f-time_i)
        
    avgtime = sum(times)/x
    print('Avg total time SQL-Query',query_name ,' = ', avgtime)
    
def mongo_query_avg_time(query,collection,num,query_name):
    times = []
    for i in range(num):
        time_i = time.time()
        doc = collection.aggregate(query)
        time_f = time.time()
        times.append(time_f-time_i)
        
    avgtime = sum(times)/x
    print('Avg total time Mongo-Query',query_name ,' = ', avgtime)

## Query 3a - 1

Esta consulta busca o salários que são pagos anualmente, com um valor superior a 10000 e com um salário máximo superior a 50000.

In [82]:
name = "3a-1"

sql_query1 = ("SELECT salary_id, max_salary, min_salary FROM salaries sa "
              "WHERE pay_period = 'yearly' and max_salary > 50000 and min_salary > 10000 "
              "GROUP BY salary_id, max_salary;")

mongo_query1 = [
    {"$match": {
            "pay_period": "YEARLY",
            "max_salary": {"$gt": 50000},
            "min_salary": {"$gt": 10000}
        }
    },
    {"$group": {
            "_id": {
                "salary_id": "$salary_id",
                "max_salary": "$max_salary"
            },
            "min_salary": {"$first": "$min_salary"}
        }
    },
    {"$project": {
            "_id": 0,
            "salary_id": "$_id.salary_id",
            "max_salary": "$_id.max_salary",
            "min_salary": "$min_salary"
        }
    }
]

sqlquery_index = "CREATE index index_salary ON salaries(salary_id,max_salary)"
sqlquery_index2 = "CREATE index index_salary2 ON salaries(pay_period, max_salary, min_salary)"

drop_index = "DROP INDEX index_salary ON salaries;"
drop_index2 = "DROP INDEX index_salary2 ON salaries;"

mongoquery_index = [("pay_period",1), ("max_salary",1),('min_salary',1)]
#salary_id and

#### Result:

##### SQL

In [83]:
sql_query_result(sql_query1,name)
sql_query_explain(sql_query1)
sql_query_avg_time(sql_query1,x,name)

(1391, 66000.0, 60000.0)
(1393, 80000.0, 70000.0)
(1394, 60000.0, 50000.0)
(1396, 60000.0, 55000.0)
(1397, 175200.0, 109500.0)
(1398, 60000.0, 55000.0)
(1399, 60000.0, 55000.0)
(1401, 60000.0, 55000.0)
(1403, 60000.0, 55000.0)
(1404, 66000.0, 60000.0)
(1406, 85000.0, 65000.0)
(1408, 100000.0, 80000.0)
(1412, 62500.0, 50000.0)
(1415, 120000.0, 105000.0)
(1416, 234563.0, 156340.0)
(1419, 162250.0, 106000.0)
(1420, 162250.0, 106000.0)
(1421, 162250.0, 106000.0)
(1422, 175125.0, 85000.0)
(1425, 250000.0, 175000.0)
(1426, 150000.0, 75996.0)
(1427, 120000.0, 100000.0)
(1432, 115000.0, 100000.0)
(1434, 65000.0, 55000.0)
(1438, 243300.0, 127600.0)
(1439, 130400.0, 80000.0)
(1440, 243300.0, 127600.0)
(4501, 122951.0, 73770.8)
(4504, 133120.0, 111900.0)
(4505, 85000.0, 55000.0)
(4511, 73912.8, 58500.0)
(4514, 500000.0, 100000.0)
(4516, 185300.0, 136000.0)
(4517, 157500.0, 117200.0)
(4520, 170443.0, 108057.0)
(4521, 91052.0, 63935.0)
(4523, 124410.0, 109276.0)
(4524, 85000.0, 69200.0)
(4526, 157500.0, 117200.0)
(4527, 157500.0, 117200.0)
(4528, 55000.0, 42000.0)
(4529, 55000.0, 50000.0)
(4531, 190000.0, 175000.0)
(4536, 264000.0, 80000.0)
(4537, 345000.0, 315000.0)
(4545, 185300.0, 136000.0)
(4546, 132800.0, 101900.0)
(4547, 157500.0, 117200.0)
(4549, 250000.0, 200000.0)
(4550, 117000.0, 90000.0)
(4554, 215000.0, 175000.0)
(4555, 60000.0, 56000.0)
(4557, 125000.0, 120000.0)
(4558, 65000.0, 57000.0)
(4560, 108191.0, 86767.2)
(4565, 132800.0, 101900.0)
(4566, 157500.0, 117200.0)
(4567, 157500.0, 117200.0)
(4568, 157500.0, 117200.0)
(4569, 130000.0, 120000.0)
(4570, 135000.0, 114750.0)
(4571, 53000.0, 50000.0)
(4572, 58500.0, 50000.0)
(4573, 130000.0, 110500.0)
(4575, 144811.0, 103436.0)
(4576, 65000.0, 57000.0)
(4577, 85300.0, 17484.0)
(4581, 80000.0, 70000.0)
(4582, 126400.0, 88500.0)
(4591, 101764.0, 100000.0)
(4597, 185300.0, 136000.0)
(4598, 185300.0, 136000.0)
(4599, 185300.0, 136000.0)
(4600, 157500.0, 117200.0)
(4601, 157500.0, 117200.0)
(4602, 157500.0, 117200.0)
(4603, 157500.0, 117200.0)
(4604, 157500.0, 117200.0)
(6612, 450000.0, 350000.0)
(6613, 105200.0, 46700.0)
(6623, 151800.0, 94200.0)
(6625, 200000.0, 136000.0)
(6626, 95000.0, 63000.0)
(6627, 118000.0, 78000.0)
(6628, 218500.0, 148600.0)
(6635, 70865.0, 47240.0)
(6637, 130000.0, 130000.0)
(6640, 90000.0, 63200.0)
(6642, 92000.0, 62000.0)
(6643, 205500.0, 139800.0)
(6645, 139800.0, 95100.0)
(6646, 139000.0, 65000.0)
(6650, 129089.0, 93883.0)
(6654, 191000.0, 124000.0)
(6655, 210000.0, 126000.0)
(6657, 165000.0, 130796.0)
(6658, 122500.0, 87500.0)
(7124, 100000.0, 70000.0)
(7125, 70000.0, 60000.0)
(7126, 150000.0, 125000.0)
(7127, 160000.0, 90000.0)
(7128, 110000.0, 80000.0)
(7129, 120000.0, 75000.0)
(7130, 140000.0, 120000.0)
(7131, 80000.0, 60000.0)
(7132, 120000.0, 90000.0)
(7133, 130000.0, 100000.0)
(7134, 130000.0, 95000.0)
(7137, 220000.0, 166900.0)
(7141, 145000.0, 107000.0)
(7147, 155000.0, 130500.0)
(7157, 110000.0, 90000.0)
(7159, 75000.0, 50000.0)
(7162, 194400.0, 116600.0)
(7163, 400000.0, 102800.0)
(7165, 220000.0, 180000.0)
(7166, 62500.0, 42500.0)
(7170, 95000.0, 85000.0)
(7174, 271200.0, 220300.0)
Length of the result for 3a-1 :  119
SQL Execution time: 0.0016989707946777344
(1, 'SIMPLE', 'sa', None, 'ALL', None, None, None, None, 259, 1.11, 'Using where')
Avg total time SQL-Query 3a-1  =  0.002556777000427246

With optimization

In [84]:
print()
#mycursor.execute(sqlquery_index)
mycursor.execute(sqlquery_index2)
print("After optimization")

sqlShowIndexes = "show index from salaries"
mycursor.execute(sqlShowIndexes)
indexList = mycursor.fetchall()
# Printing the list of indexes on the table cluster
print()
print("Information about the indexes")
print(indexList)
print()

After optimization

Information about the indexes
[('salaries', 0, 'PRIMARY', 1, 'salary_id', 'A', 259, None, None, '', 'BTREE', '', '', 'YES', None), ('salaries', 1, 'job_id', 1, 'job_id', 'A', 259, None, None, 'YES', 'BTREE', '', '', 'YES', None), ('salaries', 1, 'index_salary2', 1, 'pay_period', 'A', 3, None, None, 'YES', 'BTREE', '', '', 'YES', None), ('salaries', 1, 'index_salary2', 2, 'max_salary', 'A', 148, None, None, 'YES', 'BTREE', '', '', 'YES', None), ('salaries', 1, 'index_salary2', 3, 'min_salary', 'A', 178, None, None, 'YES', 'BTREE', '', '', 'YES', None)]

In [85]:
sql_query_result(sql_query1,name)
sql_query_explain(sql_query1)
sql_query_avg_time(sql_query1,x,name)
#ONLY RUN IF INDEX EXISTS
#mycursor.execute(drop_index)
mycursor.execute(drop_index2)

(4571, 53000.0, 50000.0)
(4528, 55000.0, 42000.0)
(4529, 55000.0, 50000.0)
(4572, 58500.0, 50000.0)
(1394, 60000.0, 50000.0)
(1396, 60000.0, 55000.0)
(1398, 60000.0, 55000.0)
(1399, 60000.0, 55000.0)
(1401, 60000.0, 55000.0)
(1403, 60000.0, 55000.0)
(4555, 60000.0, 56000.0)
(7166, 62500.0, 42500.0)
(1412, 62500.0, 50000.0)
(1434, 65000.0, 55000.0)
(4558, 65000.0, 57000.0)
(4576, 65000.0, 57000.0)
(1391, 66000.0, 60000.0)
(1404, 66000.0, 60000.0)
(7125, 70000.0, 60000.0)
(6635, 70865.0, 47240.0)
(4511, 73912.8, 58500.0)
(7159, 75000.0, 50000.0)
(7131, 80000.0, 60000.0)
(1393, 80000.0, 70000.0)
(4581, 80000.0, 70000.0)
(4505, 85000.0, 55000.0)
(1406, 85000.0, 65000.0)
(4524, 85000.0, 69200.0)
(4577, 85300.0, 17484.0)
(6640, 90000.0, 63200.0)
(4521, 91052.0, 63935.0)
(6642, 92000.0, 62000.0)
(6626, 95000.0, 63000.0)
(7170, 95000.0, 85000.0)
(7124, 100000.0, 70000.0)
(1408, 100000.0, 80000.0)
(4591, 101764.0, 100000.0)
(6613, 105200.0, 46700.0)
(4560, 108191.0, 86767.2)
(7128, 110000.0, 80000.0)
(7157, 110000.0, 90000.0)
(1432, 115000.0, 100000.0)
(4550, 117000.0, 90000.0)
(6627, 118000.0, 78000.0)
(7129, 120000.0, 75000.0)
(7132, 120000.0, 90000.0)
(1427, 120000.0, 100000.0)
(1415, 120000.0, 105000.0)
(6658, 122500.0, 87500.0)
(4501, 122951.0, 73770.8)
(4523, 124410.0, 109276.0)
(4557, 125000.0, 120000.0)
(4582, 126400.0, 88500.0)
(6650, 129089.0, 93883.0)
(7134, 130000.0, 95000.0)
(7133, 130000.0, 100000.0)
(4573, 130000.0, 110500.0)
(4569, 130000.0, 120000.0)
(6637, 130000.0, 130000.0)
(1439, 130400.0, 80000.0)
(4546, 132800.0, 101900.0)
(4565, 132800.0, 101900.0)
(4504, 133120.0, 111900.0)
(4570, 135000.0, 114750.0)
(6646, 139000.0, 65000.0)
(6645, 139800.0, 95100.0)
(7130, 140000.0, 120000.0)
(4575, 144811.0, 103436.0)
(7141, 145000.0, 107000.0)
(1426, 150000.0, 75996.0)
(7126, 150000.0, 125000.0)
(6623, 151800.0, 94200.0)
(7147, 155000.0, 130500.0)
(4517, 157500.0, 117200.0)
(4526, 157500.0, 117200.0)
(4527, 157500.0, 117200.0)
(4547, 157500.0, 117200.0)
(4566, 157500.0, 117200.0)
(4567, 157500.0, 117200.0)
(4568, 157500.0, 117200.0)
(4600, 157500.0, 117200.0)
(4601, 157500.0, 117200.0)
(4602, 157500.0, 117200.0)
(4603, 157500.0, 117200.0)
(4604, 157500.0, 117200.0)
(7127, 160000.0, 90000.0)
(1419, 162250.0, 106000.0)
(1420, 162250.0, 106000.0)
(1421, 162250.0, 106000.0)
(6657, 165000.0, 130796.0)
(4520, 170443.0, 108057.0)
(1422, 175125.0, 85000.0)
(1397, 175200.0, 109500.0)
(4516, 185300.0, 136000.0)
(4545, 185300.0, 136000.0)
(4597, 185300.0, 136000.0)
(4598, 185300.0, 136000.0)
(4599, 185300.0, 136000.0)
(4531, 190000.0, 175000.0)
(6654, 191000.0, 124000.0)
(7162, 194400.0, 116600.0)
(6625, 200000.0, 136000.0)
(6643, 205500.0, 139800.0)
(6655, 210000.0, 126000.0)
(4554, 215000.0, 175000.0)
(6628, 218500.0, 148600.0)
(7137, 220000.0, 166900.0)
(7165, 220000.0, 180000.0)
(1416, 234563.0, 156340.0)
(1438, 243300.0, 127600.0)
(1440, 243300.0, 127600.0)
(1425, 250000.0, 175000.0)
(4549, 250000.0, 200000.0)
(4536, 264000.0, 80000.0)
(7174, 271200.0, 220300.0)
(4537, 345000.0, 315000.0)
(7163, 400000.0, 102800.0)
(6612, 450000.0, 350000.0)
(4514, 500000.0, 100000.0)
Length of the result for 3a-1 :  119
SQL Execution time: 0.000978231430053711
(1, 'SIMPLE', 'sa', None, 'range', 'index_salary2', 'index_salary2', '1028', None, 119, 33.33, 'Using where; Using index')
Avg total time SQL-Query 3a-1  =  0.001196742057800293

##### Mongo

In [86]:
mongo_query_result(mongo_query1,salaries_collection,name)
mongo_query_avg_time(mongo_query1,salaries_collection,x,name)

{'salary_id': 6655, 'max_salary': 210000.0, 'min_salary': 126000.0}
{'salary_id': 7129, 'max_salary': 120000.0, 'min_salary': 75000.0}
{'salary_id': 1422, 'max_salary': 175125.0, 'min_salary': 85000.0}
{'salary_id': 4591, 'max_salary': 101764.0, 'min_salary': 100000.0}
{'salary_id': 4528, 'max_salary': 55000.0, 'min_salary': 42000.0}
{'salary_id': 4573, 'max_salary': 130000.0, 'min_salary': 110500.0}
{'salary_id': 4549, 'max_salary': 250000.0, 'min_salary': 200000.0}
{'salary_id': 1425, 'max_salary': 250000.0, 'min_salary': 175000.0}
{'salary_id': 7141, 'max_salary': 145000.0, 'min_salary': 107000.0}
{'salary_id': 4516, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 7159, 'max_salary': 75000.0, 'min_salary': 50000.0}
{'salary_id': 4599, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 7166, 'max_salary': 62500.0, 'min_salary': 42500.0}
{'salary_id': 1403, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 4576, 'max_salary': 65000.0, 'min_salary': 57000.0}
{'salary_id': 6658, 'max_salary': 122500.0, 'min_salary': 87500.0}
{'salary_id': 7130, 'max_salary': 140000.0, 'min_salary': 120000.0}
{'salary_id': 1396, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 1427, 'max_salary': 120000.0, 'min_salary': 100000.0}
{'salary_id': 4527, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 6625, 'max_salary': 200000.0, 'min_salary': 136000.0}
{'salary_id': 6635, 'max_salary': 70865.0, 'min_salary': 47240.0}
{'salary_id': 6623, 'max_salary': 151800.0, 'min_salary': 94200.0}
{'salary_id': 7127, 'max_salary': 160000.0, 'min_salary': 90000.0}
{'salary_id': 1412, 'max_salary': 62500.0, 'min_salary': 50000.0}
{'salary_id': 1408, 'max_salary': 100000.0, 'min_salary': 80000.0}
{'salary_id': 6627, 'max_salary': 118000.0, 'min_salary': 78000.0}
{'salary_id': 6646, 'max_salary': 139000.0, 'min_salary': 65000.0}
{'salary_id': 7126, 'max_salary': 150000.0, 'min_salary': 125000.0}
{'salary_id': 7133, 'max_salary': 130000.0, 'min_salary': 100000.0}
{'salary_id': 7132, 'max_salary': 120000.0, 'min_salary': 90000.0}
{'salary_id': 4566, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 4568, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 7134, 'max_salary': 130000.0, 'min_salary': 95000.0}
{'salary_id': 4572, 'max_salary': 58500.0, 'min_salary': 50000.0}
{'salary_id': 7128, 'max_salary': 110000.0, 'min_salary': 80000.0}
{'salary_id': 6640, 'max_salary': 90000.0, 'min_salary': 63200.0}
{'salary_id': 4546, 'max_salary': 132800.0, 'min_salary': 101900.0}
{'salary_id': 4597, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 7157, 'max_salary': 110000.0, 'min_salary': 90000.0}
{'salary_id': 4523, 'max_salary': 124410.0, 'min_salary': 109276.0}
{'salary_id': 4529, 'max_salary': 55000.0, 'min_salary': 50000.0}
{'salary_id': 4569, 'max_salary': 130000.0, 'min_salary': 120000.0}
{'salary_id': 4581, 'max_salary': 80000.0, 'min_salary': 70000.0}
{'salary_id': 6626, 'max_salary': 95000.0, 'min_salary': 63000.0}
{'salary_id': 7125, 'max_salary': 70000.0, 'min_salary': 60000.0}
{'salary_id': 6637, 'max_salary': 130000.0, 'min_salary': 130000.0}
{'salary_id': 4547, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 1416, 'max_salary': 234563.0, 'min_salary': 156340.0}
{'salary_id': 4501, 'max_salary': 122951.0, 'min_salary': 73770.8}
{'salary_id': 1438, 'max_salary': 243300.0, 'min_salary': 127600.0}
{'salary_id': 1404, 'max_salary': 66000.0, 'min_salary': 60000.0}
{'salary_id': 6613, 'max_salary': 105200.0, 'min_salary': 46700.0}
{'salary_id': 4524, 'max_salary': 85000.0, 'min_salary': 69200.0}
{'salary_id': 6643, 'max_salary': 205500.0, 'min_salary': 139800.0}
{'salary_id': 4571, 'max_salary': 53000.0, 'min_salary': 50000.0}
{'salary_id': 1432, 'max_salary': 115000.0, 'min_salary': 100000.0}
{'salary_id': 4567, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 6650, 'max_salary': 129089.0, 'min_salary': 93883.0}
{'salary_id': 1401, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 1421, 'max_salary': 162250.0, 'min_salary': 106000.0}
{'salary_id': 7147, 'max_salary': 155000.0, 'min_salary': 130500.0}
{'salary_id': 1406, 'max_salary': 85000.0, 'min_salary': 65000.0}
{'salary_id': 6654, 'max_salary': 191000.0, 'min_salary': 124000.0}
{'salary_id': 4558, 'max_salary': 65000.0, 'min_salary': 57000.0}
{'salary_id': 4550, 'max_salary': 117000.0, 'min_salary': 90000.0}
{'salary_id': 4600, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 1397, 'max_salary': 175200.0, 'min_salary': 109500.0}
{'salary_id': 4575, 'max_salary': 144811.0, 'min_salary': 103436.0}
{'salary_id': 4604, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 1415, 'max_salary': 120000.0, 'min_salary': 105000.0}
{'salary_id': 4504, 'max_salary': 133120.0, 'min_salary': 111900.0}
{'salary_id': 4520, 'max_salary': 170443.0, 'min_salary': 108057.0}
{'salary_id': 4555, 'max_salary': 60000.0, 'min_salary': 56000.0}
{'salary_id': 4511, 'max_salary': 73912.8, 'min_salary': 58500.0}
{'salary_id': 4577, 'max_salary': 85300.0, 'min_salary': 17484.0}
{'salary_id': 1394, 'max_salary': 60000.0, 'min_salary': 50000.0}
{'salary_id': 4531, 'max_salary': 190000.0, 'min_salary': 175000.0}
{'salary_id': 4554, 'max_salary': 215000.0, 'min_salary': 175000.0}
{'salary_id': 4601, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 7131, 'max_salary': 80000.0, 'min_salary': 60000.0}
{'salary_id': 6612, 'max_salary': 450000.0, 'min_salary': 350000.0}
{'salary_id': 6642, 'max_salary': 92000.0, 'min_salary': 62000.0}
{'salary_id': 4505, 'max_salary': 85000.0, 'min_salary': 55000.0}
{'salary_id': 1398, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 1426, 'max_salary': 150000.0, 'min_salary': 75996.0}
{'salary_id': 7170, 'max_salary': 95000.0, 'min_salary': 85000.0}
{'salary_id': 4598, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 7165, 'max_salary': 220000.0, 'min_salary': 180000.0}
{'salary_id': 1420, 'max_salary': 162250.0, 'min_salary': 106000.0}
{'salary_id': 1440, 'max_salary': 243300.0, 'min_salary': 127600.0}
{'salary_id': 7124, 'max_salary': 100000.0, 'min_salary': 70000.0}
{'salary_id': 4536, 'max_salary': 264000.0, 'min_salary': 80000.0}
{'salary_id': 4514, 'max_salary': 500000.0, 'min_salary': 100000.0}
{'salary_id': 4565, 'max_salary': 132800.0, 'min_salary': 101900.0}
{'salary_id': 1434, 'max_salary': 65000.0, 'min_salary': 55000.0}
{'salary_id': 4570, 'max_salary': 135000.0, 'min_salary': 114750.0}
{'salary_id': 6657, 'max_salary': 165000.0, 'min_salary': 130796.0}
{'salary_id': 1391, 'max_salary': 66000.0, 'min_salary': 60000.0}
{'salary_id': 4582, 'max_salary': 126400.0, 'min_salary': 88500.0}
{'salary_id': 4557, 'max_salary': 125000.0, 'min_salary': 120000.0}
{'salary_id': 7137, 'max_salary': 220000.0, 'min_salary': 166900.0}
{'salary_id': 7174, 'max_salary': 271200.0, 'min_salary': 220300.0}
{'salary_id': 1419, 'max_salary': 162250.0, 'min_salary': 106000.0}
{'salary_id': 1393, 'max_salary': 80000.0, 'min_salary': 70000.0}
{'salary_id': 4537, 'max_salary': 345000.0, 'min_salary': 315000.0}
{'salary_id': 6628, 'max_salary': 218500.0, 'min_salary': 148600.0}
{'salary_id': 7163, 'max_salary': 400000.0, 'min_salary': 102800.0}
{'salary_id': 1399, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 4560, 'max_salary': 108191.0, 'min_salary': 86767.2}
{'salary_id': 4603, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 7162, 'max_salary': 194400.0, 'min_salary': 116600.0}
{'salary_id': 4545, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 4602, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 1439, 'max_salary': 130400.0, 'min_salary': 80000.0}
{'salary_id': 4517, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 4521, 'max_salary': 91052.0, 'min_salary': 63935.0}
{'salary_id': 4526, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 6645, 'max_salary': 139800.0, 'min_salary': 95100.0}
Length of the result for 3a-1 :  119
Mongo Execution time: 0.04120302200317383
Avg total time Mongo-Query 3a-1  =  0.0031661033630371095

With optimization

In [87]:
salaries_collection.create_index(mongoquery_index, name = "index1")
print(salaries_collection.index_information())

mongo_query_result(mongo_query1,salaries_collection,name)
mongo_query_avg_time(mongo_query1,salaries_collection,x,name)
salaries_collection.drop_index('index1')

{'_id_': {'v': 2, 'key': [('_id', 1)]}, 'index1': {'v': 2, 'key': [('pay_period', 1), ('max_salary', 1), ('min_salary', 1)]}}
{'salary_id': 6655, 'max_salary': 210000.0, 'min_salary': 126000.0}
{'salary_id': 7129, 'max_salary': 120000.0, 'min_salary': 75000.0}
{'salary_id': 1422, 'max_salary': 175125.0, 'min_salary': 85000.0}
{'salary_id': 4591, 'max_salary': 101764.0, 'min_salary': 100000.0}
{'salary_id': 4528, 'max_salary': 55000.0, 'min_salary': 42000.0}
{'salary_id': 4573, 'max_salary': 130000.0, 'min_salary': 110500.0}
{'salary_id': 7159, 'max_salary': 75000.0, 'min_salary': 50000.0}
{'salary_id': 7166, 'max_salary': 62500.0, 'min_salary': 42500.0}
{'salary_id': 7141, 'max_salary': 145000.0, 'min_salary': 107000.0}
{'salary_id': 4516, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 1425, 'max_salary': 250000.0, 'min_salary': 175000.0}
{'salary_id': 4599, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 4549, 'max_salary': 250000.0, 'min_salary': 200000.0}
{'salary_id': 1403, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 4576, 'max_salary': 65000.0, 'min_salary': 57000.0}
{'salary_id': 6658, 'max_salary': 122500.0, 'min_salary': 87500.0}
{'salary_id': 7130, 'max_salary': 140000.0, 'min_salary': 120000.0}
{'salary_id': 1396, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 1427, 'max_salary': 120000.0, 'min_salary': 100000.0}
{'salary_id': 4527, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 6625, 'max_salary': 200000.0, 'min_salary': 136000.0}
{'salary_id': 6635, 'max_salary': 70865.0, 'min_salary': 47240.0}
{'salary_id': 6623, 'max_salary': 151800.0, 'min_salary': 94200.0}
{'salary_id': 7127, 'max_salary': 160000.0, 'min_salary': 90000.0}
{'salary_id': 1412, 'max_salary': 62500.0, 'min_salary': 50000.0}
{'salary_id': 1408, 'max_salary': 100000.0, 'min_salary': 80000.0}
{'salary_id': 6627, 'max_salary': 118000.0, 'min_salary': 78000.0}
{'salary_id': 6646, 'max_salary': 139000.0, 'min_salary': 65000.0}
{'salary_id': 7126, 'max_salary': 150000.0, 'min_salary': 125000.0}
{'salary_id': 7133, 'max_salary': 130000.0, 'min_salary': 100000.0}
{'salary_id': 7132, 'max_salary': 120000.0, 'min_salary': 90000.0}
{'salary_id': 4566, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 7134, 'max_salary': 130000.0, 'min_salary': 95000.0}
{'salary_id': 4568, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 4572, 'max_salary': 58500.0, 'min_salary': 50000.0}
{'salary_id': 7128, 'max_salary': 110000.0, 'min_salary': 80000.0}
{'salary_id': 6640, 'max_salary': 90000.0, 'min_salary': 63200.0}
{'salary_id': 4546, 'max_salary': 132800.0, 'min_salary': 101900.0}
{'salary_id': 4597, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 4529, 'max_salary': 55000.0, 'min_salary': 50000.0}
{'salary_id': 4581, 'max_salary': 80000.0, 'min_salary': 70000.0}
{'salary_id': 6626, 'max_salary': 95000.0, 'min_salary': 63000.0}
{'salary_id': 7125, 'max_salary': 70000.0, 'min_salary': 60000.0}
{'salary_id': 7157, 'max_salary': 110000.0, 'min_salary': 90000.0}
{'salary_id': 4523, 'max_salary': 124410.0, 'min_salary': 109276.0}
{'salary_id': 6637, 'max_salary': 130000.0, 'min_salary': 130000.0}
{'salary_id': 4569, 'max_salary': 130000.0, 'min_salary': 120000.0}
{'salary_id': 4547, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 1416, 'max_salary': 234563.0, 'min_salary': 156340.0}
{'salary_id': 4501, 'max_salary': 122951.0, 'min_salary': 73770.8}
{'salary_id': 1438, 'max_salary': 243300.0, 'min_salary': 127600.0}
{'salary_id': 1404, 'max_salary': 66000.0, 'min_salary': 60000.0}
{'salary_id': 6613, 'max_salary': 105200.0, 'min_salary': 46700.0}
{'salary_id': 4524, 'max_salary': 85000.0, 'min_salary': 69200.0}
{'salary_id': 6643, 'max_salary': 205500.0, 'min_salary': 139800.0}
{'salary_id': 4571, 'max_salary': 53000.0, 'min_salary': 50000.0}
{'salary_id': 1432, 'max_salary': 115000.0, 'min_salary': 100000.0}
{'salary_id': 4567, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 6650, 'max_salary': 129089.0, 'min_salary': 93883.0}
{'salary_id': 1401, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 7147, 'max_salary': 155000.0, 'min_salary': 130500.0}
{'salary_id': 1421, 'max_salary': 162250.0, 'min_salary': 106000.0}
{'salary_id': 1406, 'max_salary': 85000.0, 'min_salary': 65000.0}
{'salary_id': 6654, 'max_salary': 191000.0, 'min_salary': 124000.0}
{'salary_id': 4558, 'max_salary': 65000.0, 'min_salary': 57000.0}
{'salary_id': 4550, 'max_salary': 117000.0, 'min_salary': 90000.0}
{'salary_id': 6642, 'max_salary': 92000.0, 'min_salary': 62000.0}
{'salary_id': 4575, 'max_salary': 144811.0, 'min_salary': 103436.0}
{'salary_id': 4600, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 4604, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 1415, 'max_salary': 120000.0, 'min_salary': 105000.0}
{'salary_id': 4504, 'max_salary': 133120.0, 'min_salary': 111900.0}
{'salary_id': 4555, 'max_salary': 60000.0, 'min_salary': 56000.0}
{'salary_id': 4520, 'max_salary': 170443.0, 'min_salary': 108057.0}
{'salary_id': 4511, 'max_salary': 73912.8, 'min_salary': 58500.0}
{'salary_id': 4577, 'max_salary': 85300.0, 'min_salary': 17484.0}
{'salary_id': 1394, 'max_salary': 60000.0, 'min_salary': 50000.0}
{'salary_id': 4601, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 4531, 'max_salary': 190000.0, 'min_salary': 175000.0}
{'salary_id': 4554, 'max_salary': 215000.0, 'min_salary': 175000.0}
{'salary_id': 7131, 'max_salary': 80000.0, 'min_salary': 60000.0}
{'salary_id': 1397, 'max_salary': 175200.0, 'min_salary': 109500.0}
{'salary_id': 6612, 'max_salary': 450000.0, 'min_salary': 350000.0}
{'salary_id': 4505, 'max_salary': 85000.0, 'min_salary': 55000.0}
{'salary_id': 1398, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 1426, 'max_salary': 150000.0, 'min_salary': 75996.0}
{'salary_id': 7170, 'max_salary': 95000.0, 'min_salary': 85000.0}
{'salary_id': 4598, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 7165, 'max_salary': 220000.0, 'min_salary': 180000.0}
{'salary_id': 1420, 'max_salary': 162250.0, 'min_salary': 106000.0}
{'salary_id': 1440, 'max_salary': 243300.0, 'min_salary': 127600.0}
{'salary_id': 7124, 'max_salary': 100000.0, 'min_salary': 70000.0}
{'salary_id': 4565, 'max_salary': 132800.0, 'min_salary': 101900.0}
{'salary_id': 4536, 'max_salary': 264000.0, 'min_salary': 80000.0}
{'salary_id': 4514, 'max_salary': 500000.0, 'min_salary': 100000.0}
{'salary_id': 1434, 'max_salary': 65000.0, 'min_salary': 55000.0}
{'salary_id': 4570, 'max_salary': 135000.0, 'min_salary': 114750.0}
{'salary_id': 6657, 'max_salary': 165000.0, 'min_salary': 130796.0}
{'salary_id': 1391, 'max_salary': 66000.0, 'min_salary': 60000.0}
{'salary_id': 4582, 'max_salary': 126400.0, 'min_salary': 88500.0}
{'salary_id': 4557, 'max_salary': 125000.0, 'min_salary': 120000.0}
{'salary_id': 7137, 'max_salary': 220000.0, 'min_salary': 166900.0}
{'salary_id': 7174, 'max_salary': 271200.0, 'min_salary': 220300.0}
{'salary_id': 1419, 'max_salary': 162250.0, 'min_salary': 106000.0}
{'salary_id': 1393, 'max_salary': 80000.0, 'min_salary': 70000.0}
{'salary_id': 4537, 'max_salary': 345000.0, 'min_salary': 315000.0}
{'salary_id': 6628, 'max_salary': 218500.0, 'min_salary': 148600.0}
{'salary_id': 7163, 'max_salary': 400000.0, 'min_salary': 102800.0}
{'salary_id': 1399, 'max_salary': 60000.0, 'min_salary': 55000.0}
{'salary_id': 4560, 'max_salary': 108191.0, 'min_salary': 86767.2}
{'salary_id': 4603, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 7162, 'max_salary': 194400.0, 'min_salary': 116600.0}
{'salary_id': 4545, 'max_salary': 185300.0, 'min_salary': 136000.0}
{'salary_id': 4602, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 1439, 'max_salary': 130400.0, 'min_salary': 80000.0}
{'salary_id': 4517, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 4521, 'max_salary': 91052.0, 'min_salary': 63935.0}
{'salary_id': 4526, 'max_salary': 157500.0, 'min_salary': 117200.0}
{'salary_id': 6645, 'max_salary': 139800.0, 'min_salary': 95100.0}
Length of the result for 3a-1 :  119
Mongo Execution time: 0.0034203529357910156
Avg total time Mongo-Query 3a-1  =  0.002598881721496582

## Query 3a - 2

Esta consulta utiliza uma expressão de tabela comum e a função de janela ROW_NUMBER() para classificar as empresas com base no número de ofertas de emprego em cada localização. O resultado final inclui apenas as empresas com o maior número de ofertas de emprego em cada local.

In [88]:
name = "3a-2"
sql_query2 = ("WITH ranked_postings AS ("
              "SELECT company_id, location, ROW_NUMBER() OVER (PARTITION BY location ORDER BY COUNT(*) DESC) AS posting_rank "
              "FROM job_postings GROUP BY company_id, location)"
              "SELECT company_id, location FROM ranked_postings WHERE posting_rank = 1;")

sql_query2_index = "CREATE INDEX location_index ON job_postings (location(255));"

drop_index = "DROP INDEX location_index ON job_postings"



index_definition = [
    ("location", 1),
    ("count", -1)
]


mongo_query2 = [
    {"$group": {"_id": {"company_id": "$company_id", "location": "$location"},
                "count": {"$sum": 1}
                }
     },
    {"$sort": {"_id.location": 1, "count": -1}},
    {"$group": {"_id": "$_id.location",
                "topCompany": {"$first": "$_id.company_id"}}
     },
    {"$project": {"_id": 0, "company_id": "$topCompany", "location": "$_id"}}
]

mycursor.execute(drop_index)

ProgrammingError: 1091 (42000): Can't DROP 'location_index'; check that column/key exists

#### Result:

##### SQL

In [ ]:
sql_query_result(sql_query2,name)
sql_query_explain(sql_query2)
sql_query_avg_time(sql_query2,x,name)

With optimization

In [ ]:
print()
mycursor.execute(sql_query2_index)
print("After optimization")

sqlShowIndexes = "show index from job_postings"
mycursor.execute(sqlShowIndexes)
indexList = mycursor.fetchall()
# Printing the list of indexes on the table cluster
print()
print("Information about the indexes")
print(indexList)
print()

In [ ]:
sql_query_result(sql_query2,name)
sql_query_explain(sql_query2)
sql_query_avg_time(sql_query2,x,name)
#ONLY RUN IF INDEX EXISTS
mycursor.execute(drop_index)
#mycursor.execute(drop_index2)

##### Mongo

In [ ]:
mongo_query_result(mongo_query2,jobs_collection,name)
mongo_query_avg_time(mongo_query2,jobs_collection,x,name)

Optimization

In [ ]:
jobs_collection.drop_indexes()
jobs_collection.create_index(index_definition, name = "index1")
print(jobs_collection.index_information())

In [ ]:

mongo_query_result(mongo_query2,jobs_collection,name)
mongo_query_avg_time(mongo_query2,jobs_collection,x,name)

jobs_collection.drop_index('index1')

## Query 3b - 1

Esta consulta recupera informações sobre empresas, incluindo o seu ID, nome, número de empregados e o número de ofertas de emprego em que o título contém "er". Também filtra as empresas com mais de 5 ofertas de emprego e ordena os resultados pela contagem de ofertas por ordem decrescente. A utilização de LEFT JOINs garante que as empresas sem entradas correspondentes nas tabelas benefits ou employee_counts continuam a ser incluídas nos resultados.

In [ ]:
name ="3b-1"

sql_query3 = ("SELECT c.company_id, c.name as company_name, ec.employee_count, COUNT(*) as job_count "
                     "FROM job_postings jp "
                     "LEFT JOIN companies c ON jp.company_id = c.company_id "
                     "LEFT JOIN employee_counts ec ON c.company_id = ec.company_id "
                     "WHERE jp.title LIKE '%er' GROUP BY c.company_id, c.name, ec.employee_count "
                     "HAVING job_count > 5 ORDER BY job_count DESC;")

mongo_query3 = [
    {"$match": {'title': {'$regex': 'er$'}}},
    {'$lookup': {'from': "companies",
                 'localField': "company_id",
                 'foreignField': "company_id",
                 'as': "company"}},
    {'$unwind': "$company"},
    {'$lookup': {'from': "benefits",
                 'localField': "job_id",
                 'foreignField': "job_id",
                 'as': "benefits"}},
    {'$lookup': {'from': "employee_counts",
                 'localField': "company.company_id",
                 'foreignField': "company_id",
                 'as': "employee_counts"}},
    {'$group': {'_id': {'company_id': "$company.company_id",
                        'company_name': "$company.name",
                        'employee_count': {'$ifNull': ["$employee_counts.employee_count", 0]}
                        },
                'job_count': {'$sum': 1}}},
    {'$match': {'job_count': {'$gt': 5}}},
    {'$project': {'_id': 0,
                  'company_id': "$_id.company_id",
                  'company_name': "$_id.company_name",
                  'employee_count': "$_id.employee_count",
                  'job_count': "$job_count"}},
    {'$unwind': "$employee_count"},
    {'$project': {'company_id': 1, 'company_name': 1, 'employee_count': 1, 'job_count': 1}}
]

#sqlquery_index1 = "CREATE INDEX idx_job_postings_company_id ON job_postings (company_id);" 
#sqlquery_index2 = "CREATE INDEX idx_companies_company_id ON companies (company_id);" 
#sqlquery_index3 = "CREATE INDEX idx_employee_counts_company_id_2 ON employee_counts (company_id);" 
sqlquery_index4 = "CREATE INDEX idx_job_postings_title ON job_postings (title(255));"


sqlquery_index5 = "CREATE index index_jobs ON companies(company_id, name(255))"

drop_index = "DROP INDEX idx_job_postings_title ON job_postings"

#### Result:

##### SQL

In [ ]:
sql_query_result(sqlquery_index4,name)
sql_query_explain(sql_query3)
sql_query_avg_time(sql_query3,x,name)

With optimization

In [ ]:
print()
mycursor.execute(sqlquery_index4)
print("After optimization")

sqlShowIndexes = "show index from job_postings"
mycursor.execute(sqlShowIndexes)
indexList = mycursor.fetchall()
# Printing the list of indexes on the table cluster
print()
print("Information about the indexes")
print(indexList)
print()

In [ ]:

sql_query_result(sql_query3,name)
sql_query_explain(sql_query3)
sql_query_avg_time(sql_query3,x,name)

mycursor.execute(drop_index)

##### Mongo

In [ ]:
mongo_query_result(mongo_query3,jobs_collection,name)
mongo_query_avg_time(mongo_query3,jobs_collection,x,name)

With Optimization

In [ ]:
mongo_query_result(mongo_query3,jobs_collection,name)
# WARNING! TAKES A LONG TIME TO COMPUTE 
mongo_query_avg_time(mongo_query3,jobs_collection,x,name)

## Query 3b - 2

Essa consulta calcula os valores médio, mínimo e máximo da coluna max_salary da tabela salaries, considerando apenas as linhas em que os anúncios de emprego correspondentes têm um max_salary maior que 5000. O RIGHT JOIN garante que todas as linhas da tabela job_postings sejam incluídas, e as linhas correspondentes da tabela salaries sejam incluídas com valores NULL se não houver correspondência.

In [ ]:
name = "3b-2"
sql_query4 = ("SELECT avg(jp.max_salary), min(jp.max_salary), max(jp.max_salary) FROM salaries s "
                     "RIGHT JOIN job_postings jp on s.job_id = jp.job_id "
                     "WHERE jp.max_salary > 5000;")

mongo_query4 = [
    {'$lookup': {
            'from': "job_postings",
            'localField': "job_id",
            'foreignField': "job_id",
            'as': "job_posting"
                }
    },
    {'$unwind': "$job_posting"},
    {'$match': { "job_posting.max_salary": { '$gt': 5000 } }},
    {'$group': {
            '_id': None,
            'avg_max_salary': { '$avg': "$max_salary" },
            'min_max_salary': { '$min': "$max_salary" },
            'max_max_salary': { '$max': "$max_salary" }
                }
    }]

#### Result:

##### SQL

In [ ]:
sql_query_result(sql_query4,name)
sql_query_explain(sql_query4)
sql_query_avg_time(sql_query4,x,name)

With optimization

In [ ]:
print()
#mycursor.execute(sqlquery_index1)
print("After optimization")

sqlShowIndexes = "show index from job_postings"
mycursor.execute(sqlShowIndexes)
indexList = mycursor.fetchall()
# Printing the list of indexes on the table cluster
print()
print("Information about the indexes")
print(indexList)
print()

In [ ]:
sql_query_result(sql_query4,name)
sql_query_explain(sql_query4)
sql_query_avg_time(sql_query4,x,name)

##### Mongo

In [ ]:
mongo_query_result(mongo_query4,salaries_collection,name)
mongo_query_avg_time(mongo_query4,salaries_collection,x,name)

With Optimization

In [ ]:
mongo_query_result(mongo_query4,salaries_collection,name)
mongo_query_avg_time(mongo_query4,salaries_collection,x,name)

### UPDATE

Esta consulta atualiza até 10 linhas na tabela benefits, alterando o valor da coluna type de 'Medical insurance' para 'test'. O LIMIT 10 garante que apenas um máximo de 10 linhas sejam atualizadas, mesmo que haja mais linhas que satisfaçam a condição.

In [99]:
sql_update = "UPDATE benefits SET type = 'test' WHERE type = 'Medical insurance' LIMIT 10;"
time_i = time.time()
mycursor.execute(sql_update)
resu = mycursor.fetchall()
time_f = time.time()

print("SQL Update time:", (time_f-time_i))

time_i = time.time()
mongo_update = db.benefits.updateMany({ type: 'Medical insurance' },
                                       {'$set': { type: 'test' } })
time_f = time.time()

print("Mongo Update time:", (time_f-time_i))

SQL Update time: 0.0026824474334716797

TypeError: 'Collection' object is not callable. If you meant to call the 'updateMany' method on a 'Collection' object it is failing because no such method exists.

### INSERTION

In [98]:
sql_insertion = ("INSERT INTO companies(company_id, name, description, company_size, state, country, city, zip_code, address, url) "
                 "VALUES (1, 'Empresas Empresas', 'Fazemos tudo e mais alguma coisa', 15, 'CA', 'USA', 'Los Angeles', '2625-136', 'Rua 29 de Fevereiro', 'https://www.example.com');")
mycursor.execute(sql_insertion)


mongo_insertion = db.companies.insertOne({
    'company_id': 1,
    'name': 'Empresas Empresas',
    'description': 'Fazemos tudo e mais alguma coisa',
    'company_size': 15,
    'state': 'CA',
    'country': 'USA',
    'city': 'Los Angeles',
    'zip_code': '2625-136',
    'address': 'Rua 29 de Fevereiro',
    'url': 'https://www.example.com'
})

TypeError: 'Collection' object is not callable. If you meant to call the 'insertOne' method on a 'Collection' object it is failing because no such method exists.

In [96]:
query_select_insert = "SELECT * FROM companies where company_id = 1"
sql_query_result(query_select_insert, "query for insert")

(1, 'Empresas Empresas', 'Fazemos tudo e mais alguma coisa', 15, 'CA', 'USA', 'Los Angeles', '2625-136', 'Rua 29 de Fevereiro', 'https://www.example.com')
Length of the result for query for insert :  1
SQL Execution time: 0.0021533966064453125